---
title: Bank Vooruit speelt Goudje en de heldere maan
excerpt: Een sprookjesachtige familievertelling
---

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <meta charset="utf-8" />

  {% include head.html %}
  <body>
    {% include header.html %}

    <!-- content -->
    <div id="content-wrapper">
      <div class="tile is-vertical is-parent is-2">
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content">
            <h1>Acht</h1>
            <p>
              In december 2017 speelden we 'ACHT'. Het was onze eerste
              voorstelling en we genoten met volle teugen van de enthousiaste
              kinderen die samen met ons het jaar 2018 hebben gered. Bedankt aan
              alle bezoekers, helpende handen en sponsors. Hieronder het
              overzichtje van de goede doelen die we dankzij jullie konden
              ondersteunen.
            </p>

            <table class="acht-results">
              <tr class="tile acht-result">
                <td><img src="/res/goede_doelen/Kinderarmoedefonds.png" /></td>
                <td>Vorselaar schonk het Kinderarmoedefonds €&nbsp;945</td>
              </tr>
              <tr class="tile acht-result">
                <td><img src="/res/goede_doelen/DeStappaert.jpg" /></td>
                <td>Ranst schonk vzw&nbsp;Stappaert €&nbsp;720</td>
              </tr>
              <tr class="tile acht-result">
                <td><img src="/res/goede_doelen/SupportBanzai.png" /></td>
                <td>Lier schonk Support&nbsp;Banzai € 1&nbsp;143,08</td>
              </tr>
              <tr class="tile acht-result">
                <td><img src="/res/goede_doelen/VOCNeteland.png" /></td>
                <td>Hulshout schonk VOC&nbsp;Neteland €&nbsp;984,00</td>
              </tr>
              <tr class="tile acht-result">
                <td>
                  <img src="/res/goede_doelen/OlivieHendrickxFonds.png" />
                </td>
                <td>Herentals schonk Olivia&nbsp;Fund €&nbsp;1416,10</td>
              </tr>
            </table>

            <p>Bedankt iedereen. Het was geweldig!</p>
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2017acht/AchtOpKisten.jpg"
              title="Bank Vooruit speelt ACHT"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2017acht/AchtOlen.jpg"
              title="Bank Vooruit speelt ACHT in Olen (tryout)"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2017acht/AchtRanst.jpg"
              title="Bank Vooruit speelt ACHT in Ranst"
              class="acht-pic"
            />
          </div>
        </div>
      </div>
      <div class="tile is-vertical is-parent is-2">
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2017acht/AchtInActie.jpg"
              title="Bank Vooruit speelt ACHT"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content">
            <h1>Het verhaal</h1>
            <p>
              Vijf jongeren spelen een voorstelling. Er is er eentje die alles
              beter weet. Eentje die alles durft. Eentje die van alles bang is.
              Misschien heeft zij wel gelijk? Een mysterieuze zending strooit
              roet in het eten op de dag van de voorstelling.
            </p>

            <p>
              Ze belanden in een spannend avontuur waarbij ze elkaar en de hulp
              van hun publiek broodnodig hebben. Maar zullen ze hier wel in
              slagen voor het einde van het jaar?
            </p>
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2017acht/AchtVorselaar.jpg"
              title="Bank Vooruit speelt ACHT in Vorselaar"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2017acht/AchtLier.jpg"
              title="Bank Vooruit speelt ACHT in Lier"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2017acht/AchtHerentals.jpg"
              title="Bank Vooruit speelt ACHT in Herentals"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2017acht/AchtHulshout.jpg"
              title="Bank Vooruit speelt ACHT in Hulshout"
              class="acht-pic"
            />
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
