---
title: Om nooit te vergeten... Theater Bank Vooruit organiseert een quiz (2018)
excerpt: In het najaar van 2018 hielden we een te gekke en zeer gesmaakte Bank Vooruit-quiz in Lier. Bedankt aan alle ploegen die toen aanwezig waren. Dankzij jullie kunnen we in 2019 'De Code van Kaart' maken en alle ticketopbrengsten wegschenken. Dikke merci en wie weet... tot een volgende Quiz!
postimage: /res/2018quiz/quizFlyer.jpg
---

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <meta charset="utf-8" />

  {% include head.html %}
  <body>
    {% include header.html %}

    <!-- content -->
    <div id="content-wrapper">
      <div class="tile is-vertical is-parent is-2">
        <div class="tile">
          <div class="tile-content">
            <div>
              In het najaar van 2018 hielden we een te gekke en zeer gesmaakte
              Bank Vooruit-quiz in Lier. Bedankt aan alle ploegen die toen
              aanwezig waren. Dankzij jullie kunnen we in 2019 'De Code van
              Kaart' maken en alle ticketopbrengsten wegschenken. Dikke merci en
              wie weet... tot een volgende Quiz!
            </div>
            <div class="quiz-sponsor">
              Met dank aan onze lekkere sponsor<br />
              <a
                target="_blank"
                href="https://www.jules-destrooper.com/nl"
                title="Onze sponsor: Jules Destrooper"
              >
                <img src="/res/sponsors/JulesDestrooper.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-vertical is-parent is-2">
        <div class="tile">
          <div class="tile-content image-tile">
            <img src="/res/2018quiz/quizFlyer.jpg" />
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
