---
title: Bank Vooruit speelt Goudje en de heldere maan
excerpt: Een sprookjesachtige familievertelling
---

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <meta charset="utf-8" />

  {% include head.html %}
  <body>
    {% include header.html %}

    <!-- content -->
    <div id="content-wrapper">
      <div class="tile is-vertical is-parent is-2">
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content">
            <h1>De Code Van De Kaart</h1>
            <p>
              'De Code van de Kaart' zorgde in december 2019 opnieuw voor heel
              wat lachende gezichten in de zaal. Samen met de kinderen losten
              onze vijf vrienden een nieuw mysterie op. Dankzij alle bezoekers
              werden opnieuw verschillende goede doelen gesteund. Dank je wel
              aan alle helpende handen en enthousiaste bezoekers.
            </p>

            <table class="acht-results">
              <tr class="tile acht-result">
                <td><img src="/res/goede_doelen/rodeneuzendag.jpg" /></td>
                <td>
                  Nijlen schonk met de try-out aan Rodeneuzendag €&nbsp;144,00
                </td>
              </tr>
              <tr class="tile acht-result">
                <td><img src="/res/goede_doelen/HuisVanHetKind.png" /></td>
                <td>Vorselaar schonk aan het Luierboxproject €&nbsp;1009,65</td>
              </tr>
              <tr class="tile acht-result">
                <td><img src="/res/goede_doelen/BroederlijkDelen.png" /></td>
                <td>Westerlo schonk aan Broederlijk Delen €&nbsp;554,00</td>
              </tr>
              <tr class="tile acht-result">
                <td>
                  <img src="/res/goede_doelen/ColombiaSolidariteit.jpg" />
                </td>
                <td>
                  Ranst schonk aan Colombia Solidariteit en EHBA €&nbsp;775,00
                </td>
              </tr>
              <tr class="tile acht-result">
                <td>
                  <img src="/res/goede_doelen/OlivieHendrickxFonds.png" />
                </td>
                <td>Herentals schonk aan Olivia&nbsp;Fund €&nbsp;898,45</td>
              </tr>
              <tr class="tile acht-result">
                <td><img src="/res/goede_doelen/Welzijnsschakels.png" /></td>
                <td>Olen schonk aan Welzijnsschakels €&nbsp;1363,12</td>
              </tr>
            </table>
            <p>Bedankt voor zoveel warmte en plezier!</p>
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2019code_van_de_kaart/CVDK(1).JPG"
              title="Bank Vooruit speelt De Code Van De Kaart"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2019code_van_de_kaart/SelfieNijlen.jpg"
              title="Bank Vooruit speelt De Code Van De Kaart in Nijlen (try-out)"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2019code_van_de_kaart/CVDK(2).JPG"
              title="Bank Vooruit speelt De Code Van De Kaart"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2019code_van_de_kaart/SelfieVorselaar2.jpg"
              title="Bank Vooruit speelt De Code Van De Kaart in Vorselaar"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2019code_van_de_kaart/CVDK(4).JPG"
              title="Bank Vooruit speelt De Code Van De Kaart"
              class="acht-pic"
            />
          </div>
        </div>
      </div>
      <div class="tile is-vertical is-parent is-2">
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2019code_van_de_kaart/CVDK(3).JPG"
              title="Bank Vooruit speelt De Code Van De Kaart"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content">
            <h1>Het verhaal</h1>
            <p>
              In 'De Code van de Kaart' brengt een geheimzinnig
              Whatsapp-berichtje onze vijf vrienden weer bij elkaar in een
              theaterzaal. Op deze plek vinden ze een vreemde boodschap. Voor ze
              het goed en wel beseffen is er een digitaal virus ontsnapt dat het
              gemunt heeft op alle kerst- en nieuwjaarswensen. Een aftelklok
              begint te lopen en onze vijf vrienden staan voor een mysterieuze
              opdracht.
            </p>

            <p>
              Kunnen ze hun onderlinge ruzie naast zich neerleggen en samen de
              oplossing vinden? Krijgen ze de nodige hulp van jongens en meisjes
              in de zaal? Of wordt het dit jaar een Kerstmis en Nieuwjaar zonder
              goede wensen en lieve berichten?
            </p>
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2019code_van_de_kaart/SelfieRanst.jpg"
              title="Bank Vooruit speelt De Code Van De Kaart in Ranst"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2019code_van_de_kaart/SelfieHerentals.jpg"
              title="BBank Vooruit speelt De Code Van De Kaart in Herentals"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2019code_van_de_kaart/SelfieOlen.jpg"
              title="Bank Vooruit speelt De Code Van De Kaart in Olen"
              class="acht-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2019code_van_de_kaart/SelfieWesterlo.jpg"
              title="Bank Vooruit speelt De Code Van De Kaart in Westerlo"
              class="acht-pic"
            />
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
