---
title: Bank Vooruit speelt Goudje en de heldere maan
excerpt: Een sprookjesachtige familievertelling
---

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <meta charset="utf-8" />

  {% include head.html %}
  <body>
    {% include header.html %}

    <!-- content -->
    <div id="content-wrapper">
      <div class="tile">
        <div class="tile-content">
          <div>
            Drie jaar na onze eerste quiz gaan we op zaterdag 19 februari 2022
            nog eens volledig losgaan. Hou deze datum vrij en kom gezellig mee
            quizzen! Meer info volgt later.
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
