---
title: Theater Bank Vooruit organiseert een quiz
excerpt: Drie jaar na onze eerste quiz gaan we op zaterdag 19 februari 2022 nog eens volledig losgaan. Hou deze datum vrij en kom gezellig mee quizzen! Meer info volgt later.
---

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <meta charset="utf-8" />

  {% include head.html %}
  <body>
    {% include header.html %}

    <!-- content -->
    <div id="content-wrapper">
      <div class="tile">
        <div class="tile-content image-tile">
          <img
            src="/res/2022quiz/quizFlyer.jpg"
            title="Theater Bank Vooruit organiseert een quiz op zaterdag 19 februari 2022"
          />
          <div>Inschrijvingen openen weldra!</div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
