---
title: Bank Vooruit speelt ACHT
excerpt: Een spannende interactieve familievoorstelling voor De Warmste Week
---

{% include header.html %}

<div class="tile is-vertical is-parent">
	<div class="tile">
		<div class="tile-content">
			<h1>Het verhaal</h1>
			<p>Vijf jongeren spelen een voorstelling. 
			Er is er eentje die alles beter weet.
			Eentje die alles durft.
			Eentje die van alles bang is.
			Misschien heeft zij wel gelijk?
			Een mysterieuze zending strooit roet in het eten op de dag van de voorstelling.</p>
			
			<p>Ze belanden in een spannend avontuur waarbij ze elkaar 
			en de hulp van hun publiek broodnodig hebben.
			Maar zullen ze hier wel in slagen voor het einde van het jaar?</p>
		</div>
	</div>
	<div class="tile is-not-growing is-not-shrinking">
		<div class="tile-content image-tile">
			<img src="/res/bankvooruit.jpg" class="acht-pic"/>
		</div>
	</div>
</div>
<div class="tile">
	<div class="tile-content">
		<h1>ACHT</h1>
		<p>... is een <b>interactieve familievoorstelling</b> vol spanning en avontuur.</p>
		<p>... verwelkomt iedereen dankzij <b>betaalbare ticketprijzen</b>.</p>
		<p>... zorgt voor een weekje langer <b>‘warmste week’</b> van Music for Life.</p>
		<p>... speelt volledig ten voordele van <b>5 goede doelen</b>.</p>
		<p>... dankt de <b>vijf steden en gemeenten</b> voor hun accommodatie.</p>
		<p>... dankt <b>nv Guido Geernaert, Heylen Vastgoed, Apotheek Schyvens-Godin en onze andere sponsors</b> voor hun tussenkomst in de productiekosten zodat elke euro van het publiek rechtstreeks naar het goede doel kan gaan.</p>
		<p>... dankt alle <b>helpende handen</b> voor decor, affiche, bar, muziek en website.
	</div>
</div>

{% include footer.html %}