---
title: Bank Vooruit QUIZT
excerpt: Een gezellige quiz met een stevig vleugje BankVooruit-kruiden
---

{% include header.html %}

<div class="tile is-vertical is-parent is-2">
	<div class="tile">
		<div class="tile-content">
			In december 2017 speelden we 'ACHT'. Het was onze eerste voorstelling en we genoten met volle teugen van de enthousiaste kinderen die samen met ons het jaar 2018 hebben gered. Bedankt aan alle bezoekers, helpende handen en sponsors. Hieronder het overzichtje van de goede doelen die we dankzij jullie konden ondersteunen.

			<div class="tile acht-result">
				<img src="/res/goede_doelen/Kinderarmoedefonds.png"/>
				<br>
				Vorselaar schonk het Kinderarmoedefonds € 945
			</div>
			<div class="tile acht-result">
				<img src="/res/goede_doelen/DeStappaert.jpg"/>
				<br>
				Ranst schonk vzw Stappaert € 720
			</div>
			<div class="tile acht-result">
				<img src="/res/goede_doelen/SupportBanzai.png"/>
				<br>
				Lier schonk Support Banzai € 1 143,08
			</div>
			<div class="tile acht-result">
				<img src="/res/goede_doelen/VOCNeteland.png"/>
				<br>
				Hulshout schonk VOC Neteland € 984,00
			</div>
			<div class="tile acht-result">
				<img src="/res/goede_doelen/OlivieHendrickxFonds.png"/>
				Herentals schonk Olivia Fund € 1416,10
			</div>
		</div>
	</div>
	<div class="tile is-not-growing is-not-shrinking">
		<div class="tile-content image-tile">
			<img src="/res/acht/AchtOpKisten.jpg" title="Bank Vooruit speelt ACHT" class="acht-pic"/>
		</div>
	</div>
</div>
<div class="tile is-vertical is-parent is-2">
	<div class="tile is-not-growing is-not-shrinking">
		<div class="tile-content image-tile">
			<img src="/res/acht/AchtInActie.jpg" title="Bank Vooruit speelt ACHT" class="acht-pic"/>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content">
			<h1>Het verhaal</h1>
			<p>Vijf jongeren spelen een voorstelling. 
			Er is er eentje die alles beter weet.
			Eentje die alles durft.
			Eentje die van alles bang is.
			Misschien heeft zij wel gelijk?
			Een mysterieuze zending strooit roet in het eten op de dag van de voorstelling.</p>
			
			<p>Ze belanden in een spannend avontuur waarbij ze elkaar 
			en de hulp van hun publiek broodnodig hebben.
			Maar zullen ze hier wel in slagen voor het einde van het jaar?</p>
		</div>
	</div>
</div>
<div class="tile is-ancestor acht-selfies">
	<div class="tile-content image-tile">
		<img src="/res/acht/AchtOlen.jpg" title="Bank Vooruit speelt ACHT in Olen (tryout)" class="acht-pic"/>
	</div>
	<div class="tile-content image-tile">
		<img src="/res/acht/AchtVorselaar.jpg" title="Bank Vooruit speelt ACHT in Vorselaar" class="acht-pic"/>
	</div>
	<div class="tile-content image-tile">
		<img src="/res/acht/AchtRanst.jpg" title="Bank Vooruit speelt ACHT in Ranst" class="acht-pic"/>
	</div>
	<div class="tile-content image-tile">
		<img src="/res/acht/AchtLier.jpg" title="Bank Vooruit speelt ACHT in Lier" class="acht-pic"/>
	</div>
	<div class="tile-content image-tile">
		<img src="/res/acht/AchtHulshout.jpg" title="Bank Vooruit speelt ACHT in Hulshout" class="acht-pic"/>
	</div>
	<div class="tile-content image-tile">
		<img src="/res/acht/AchtHerentals.jpg" title="Bank Vooruit speelt ACHT in Herentals" class="acht-pic"/>
	</div>
</div>


{% include footer.html %}