---
title: Bank Vooruit speelt ACHT
excerpt: Een spannende interactieve familievoorstelling voor De Warmste Week
---

{% include header.html %}

<div class="tile is-vertical is-parent">
	<div class="tile">
		<div class="tile-content who-is-who">
			<div class="pic">
				<img src="/res/bankvooruit.jpg" width="100px"/>
			</div>
			<div>
				<i>Victor... de slimme</i>

				<p>
				Bart Lambrechts<br>
				Lier<br>
				Leerkracht secundair onderwijs<br>
				Theater en coaching bij Tejaterbende Oeps!<br>
				</p>

				<i>“Heb de ander lief zoals jezelf.”</i>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content who-is-who">
			<div class="pic">
				<img src="/res/bankvooruit.jpg" width="100px"/>
			</div>
			<div>
				<i>Arthur... de stoere</i>

				<p>
				Stijn Peeters<br>
				Antwerpen<br>
				Leerkracht lager onderwijs<br>
				Musicals bij De Blockendoos<br>
				</p>

				<i>“Relativeer en bekijk alles van de positieve kant.”</i>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content who-is-who">
			<div class="pic">
				<img src="/res/bankvooruit.jpg" width="100px"/>
			</div>
			<div>
				<i>Lena... het meisje met de handtas</i>

				<p>
				Carolien Van Dael<br>
				Olen<br>
				Leerkracht kleuteronderwijs<br>
				Theater en coaching bij Tejaterbende Oeps!<br>
				</p>

				<i>“Schol, op de vriendschap! Als je dat kan zeggen, heb je het rijkste leven.”</i>
			</div>
		</div>
	</div>
</div>
<div class="tile is-vertical is-parent">
	<div class="tile">
		<div class="tile-content who-is-who">
			<div class="pic">
				<img src="/res/bankvooruit.jpg" width="100px"/>
			</div>
			<div>
				<i>Sam ... de wispelturige</i>

				<p>
				Kirsten Goossens<br>
				Hulshout<br>
				Leerkracht secundair onderwijs<br>
				Regie in Heilig-Hartcollege Heist-op-den-Berg<br>
				</p>

				<i>“Levensmotto”</i>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content who-is-who">
			<div class="pic">
				<img src="/res/bankvooruit.jpg" width="100px"/>
			</div>
			<div>
				<i>Noor... de durver</i>

				<p>
				Sanne Spruyt<br>
				Vorselaar<br>
				Leerkracht lager onderwijs<br>
				Theater en musical bij Tejaterbende Oeps!, Het Vierde Oor en De Blockendoos<br>
				</p>

				<i>“Levensmotto”</i>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content who-is-who">
			<div class="pic">
				<img src="/res/bankvooruit.jpg" width="100px"/>
			</div>
			<div>
				<i>Stijn... de regisseur</i>

				<p>
				Stijn Neefs<br>
				Herentals<br>
				Leerkracht secundair onderwijs<br>
				Regie in Heilig-Hartcollege in Heist-op-den-Berg<br>
				</p>

				<i>“Opgeven kan morgen ook nog..”</i>
			</div>
		</div>
	</div>
</div>

{% include footer.html %}