---
title: Bank Vooruit speelt ACHT
excerpt: Een spannende interactieve familievoorstelling voor De Warmste Week
---

{% include header.html %}

<div class="tile is-vertical is-parent">
	<div class="tile">
		<div class="tile-content who-is-who">
			<div class="pic">
				<img src="/res/bankvooruit.jpg" width="100px"/>
			</div>
			<div class="text-block">
				<i>Victor... de slimme</i>

				Bart Lambrechts
				Lier
				Leerkracht secundair onderwijs
				Theater en coaching bij Tejaterbende Oeps!

				<i>“Heb de ander lief zoals jezelf.”</i>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content who-is-who">
			<div class="pic">
				<img src="/res/bankvooruit.jpg" width="100px"/>
			</div>
			<div class="text-block">
				<i>Arthur... de stoere</i>

				Stijn Peeters
				Antwerpen
				Leerkracht lager onderwijs
				Musicals bij De Blockendoos

				<i>“Relativeer en bekijk alles van de positieve kant.”</i>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content who-is-who">
			<div class="pic">
				<img src="/res/bankvooruit.jpg" width="100px"/>
			</div>
			<div class="text-block">
				<i>Lena... het meisje met de handtas</i>

				Carolien Van Dael
				Olen
				Leerkracht kleuteronderwijs
				Theater en coaching bij Tejaterbende Oeps!

				<i>“Schol, op de vriendschap! Als je dat kan zeggen, heb je het rijkste leven.”</i>
			</div>
		</div>
	</div>
</div>
<div class="tile is-vertical is-parent">
	<div class="tile">
		<div class="tile-content who-is-who">
			<div class="pic">
				<img src="/res/bankvooruit.jpg" width="100px"/>
			</div>
			<div class="text-block">
				<i>Sam ... de wispelturige</i>

				Kirsten Goossens
				Hulshout
				Leerkracht secundair onderwijs
				Regie in Heilig-Hartcollege Heist-op-den-Berg

				<i>“Levensmotto”</i>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content who-is-who">
			<div class="pic">
				<img src="/res/bankvooruit.jpg" width="100px"/>
			</div>
			<div class="text-block">
				<i>Noor... de durver</i>

				Sanne Spruyt
				Vorselaar
				Leerkracht lager onderwijs
				Theater en musical bij Tejaterbende Oeps!, Het Vierde Oor en De Blockendoos

				<i>“Levensmotto”</i>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content who-is-who">
			<div class="pic">
				<img src="/res/bankvooruit.jpg" width="100px"/>
			</div>
			<div class="text-block">
				<i>Stijn... de regisseur</i>

				Stijn Neefs
				Herentals
				Leerkracht secundair onderwijs
				Regie in Heilig-Hartcollege in Heist-op-den-Berg

				<i>“Opgeven kan morgen ook nog..”</i>
			</div>
		</div>
	</div>
</div>

{% include footer.html %}