---
title: Theater Bank Vooruit speelt Goudje en de heldere maan
excerpt: Goudje en de heldere maan is een sprookjesachtige vertelling voor kinderen. De verteller wordt bijgestaan door Theater Bank Vooruit zodat kinderen het gevoel krijgen middenin in het verhaal te zitten. Zoals altijd gaan de inkomsten van de voorstelling naar het goede doel.
postimage: /res/2021goudje/GoudjeFlyer.jpg
---

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <meta charset="utf-8" />

  {% include head.html %}
  <body>
    {% include header.html %}

    <!-- content -->
    <div id="content-wrapper">
      <div
        class="tile is-vertical is-not-stretching is-not-growing is-parent is-2"
      >
        <div class="tile is-not-growing">
          <div class="tile-content">
            <h1>Over Theater Bank Vooruit</h1>
            <p>
              Theater Bank Vooruit is een groep enthousiaste vrienden die met
              passie kwalitatief en interactief kindertheater maakt. We streven
              ernaar de opbrengsten van onze voorstelling te schenken aan een
              lokaal goed doel. Hiervoor werken we samen met gaststeden en
              gastgemeenten.
            </p>
          </div>
        </div>
        <div class="tile is-not-growing">
          <div class="tile-content who-is-who">
            <div class="pic">
              <img src="/res/bankvooruit/Sanne.JPG" title="Sanne Spruyt" />
            </div>
            <div class="text-block">
              <h2>Noor... de durver</h2>

              <ul>
                <li><b>Sanne Spruyt</b></li>
                <li>Woont in Lille</li>
                <li>Leerkracht lager onderwijs</li>
                <li>Mama van Jesse en Janne</li>
                <li>
                  Oud-lid bij Tejaterbende Oeps!, Theatergroep Het Vierde Oor en
                  De Blockendoos
                </li>
              </ul>

              <p>
                “Het doet er niet toe of je op de top of aan de voet van de berg
                staat, als je maar gelukkig bent op de plek waar je je bevindt”
              </p>
            </div>
          </div>
        </div>
        <div class="tile is-not-growing">
          <div class="tile-content who-is-who">
            <div class="pic">
              <img src="/res/bankvooruit/Bart.JPG" title="Bart Lambrechts" />
            </div>
            <div class="text-block">
              <h2>Victor... de slimme</h2>

              <ul>
                <li><b>Bart Lambrechts</b></li>
                <li>Woont in Lier</li>
                <li>Leerkracht secundair onderwijs</li>
                <li>Papa van Felien en ?</li>
                <li>Oud-lid bij Tejaterbende Oeps!</li>
              </ul>

              <p>“Heb de ander lief zoals jezelf.”</p>
            </div>
          </div>
        </div>
        <div class="tile is-not-growing">
          <div class="tile-content who-is-who">
            <div class="pic">
              <img
                src="/res/bankvooruit/Kirsten.JPG"
                title="Kirsten Goossens"
              />
            </div>
            <div class="text-block">
              <h2>Sam ... de wispelturige</h2>

              <ul>
                <li><b>Kirsten Goossens</b></li>
                <li>Woont in Hulshout</li>
                <li>Leerkracht secundair onderwijs</li>
                <li>Mama van Lauren, Naud en Vere</li>
                <li>Regie in Heilig-Hartcollege Heist-op-den-Berg</li>
              </ul>

              <p>“Leef”</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tile is-vertical is-not-stretching is-not-growing is-parent is-2"
      >
        <div class="tile is-not-growing">
          <div class="tile-content who-is-who">
            <div class="pic">
              <img
                src="/res/bankvooruit/Carolien.JPG"
                title="Carolien Van Dael"
              />
            </div>
            <div class="text-block">
              <h2>Lena... het meisje met de handtas</h2>

              <ul>
                <li><b>Carolien Van Dael</b></li>
                <li>Woont in Olen</li>
                <li>Leerkracht secundair onderwijs</li>
                <li>
                  Oud-lid bij Tejaterbende Oeps! en Theatergroep Het Vierde Oor
                </li>
              </ul>

              <p>
                “Enkel wie echt van zichzelf houdt, kan oprecht goed voor
                anderen zorgen.”
              </p>
            </div>
          </div>
        </div>
        <div class="tile is-not-growing">
          <div class="tile-content who-is-who">
            <div class="pic">
              <img src="/res/bankvooruit/Pieter.JPG" title="Kirsten Goossens" />
            </div>
            <div class="text-block">
              <h2>Pieter... de nieuwkomer</h2>

              <ul>
                <li><b>Pieter Gurny</b></li>
                <li>Woont in Deurne</li>
                <li>HR consultant</li>
                <li>
                  Oud-lid bij improtheater Preparee en lid bij improtheater
                  Fnørk
                </li>
                <li></li>
              </ul>

              <p>"Het leven is een lange rij veranderingen"</p>
            </div>
          </div>
        </div>
        <div class="tile is-not-growing">
          <div class="tile-content who-is-who">
            <div class="pic">
              <img src="/res/bankvooruit/Stijn.JPG" title="Stijn Neefs" />
            </div>
            <div class="text-block">
              <h2>Stijn... de regisseur</h2>

              <ul>
                <li><b>Stijn Neefs</b></li>
                <li>Woont in Hulshout</li>
                <li>Leerkracht secundair onderwijs</li>
                <li>Regie in Heilig-Hartcollege in Heist-op-den-Berg</li>
              </ul>

              <p>“Opgeven kan morgen ook nog..”</p>
            </div>
          </div>
        </div>
        <div class="tile is-not-growing">
          <div class="tile-content who-is-who">
            <div class="pic">
              <img src="/res/bankvooruit/Toon.JPG" title="Toon De Ceulaer" />
            </div>
            <div class="text-block">
              <h2>Toon... de pianist</h2>

              <ul>
                <li><b>Toon De Ceulaer</b></li>
                <li>Woont in Etterbeek</li>
                <li>Software consultant</li>
                <li>
                  Pianobegeleiding bij "De Toverlantaarn" en "Is Wit Wit?" van
                  de stedelijke academie voor muziek en woord Herentals
                </li>
              </ul>

              <p>“Look for the bare necessities”</p>
            </div>
          </div>
        </div>
        <div class="tile is-not-growing">
          <div class="tile-content who-is-who">
            <div class="pic">
              <img src="/res/bankvooruit/Katrien.JPG" title="Toon De Ceulaer" />
            </div>
            <div class="text-block">
              <h2>Katrien... de regie- en productieassistent</h2>

              <ul>
                <li><b>Katrien Debois</b></li>
                <li>Woont in Antwerpen</li>
                <li>Studeert Theater- en filmwetenschappen</li>
                <li>
                  Volgde muziek, dans en woordkunst aan MuWoDa
                  Heist-op-den-berg, lid van Heist Kamer Toneel (HKT) en het
                  Kraakcollectief
                </li>
              </ul>
              <p>“If you can dream it, you can do it”</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
