---
title: Bank Vooruit speelt De Code Van De Kaart
excerpt: Een spannende interactieve familievoorstelling voor De Warmste Week
---

{% include header.html %}

<div class="tile is-vertical is-parent is-2">
	<div class="tile is-not-growing is-not-shrinking"">
		<div class="tile-content">
			<h1>De Code van de Kaart</h1>
			<p>Theater Bank Vooruit werkt momenteel aan 'De Code van de Kaart'. Een nieuwe spannende en interactieve voorstelling voor kinderen en iedereen die jong van hart is. We kijken er naar uit om opnieuw met veel kinderen op avontuur te gaan en zo centjes voor verschillende goede doelen bij elkaar te sparen.</p>
			
			<p>
				<b>Auteur</b> Stijn Neefs en Theater Bank Vooruit<br>
				<b>Regie</b> Stijn Neefs<br>
				<b>Acteurs</b> Theater Bank Vooruit<br>
				<b>Piano en muziek</b> Toon De Ceulaer<br>
			</p>
		</div>
	</div>
	<div class="tile is-not-growing is-not-shrinking">
		<div class="tile-content image-tile">
			<img src="/res/code_van_de_kaart/TBV3.JPG" title="Bank Vooruit speelt De Code Van De Kaart" class="cvdk-pic"/>
		</div>
	</div>
	<div class="tile is-not-growing is-not-shrinking">
		<div class="tile-content">
			<h1>Goede doelen</h1>
			<p>Elke stad of gemeente kiest een goed doel. Alle ticketopbrengsten van de voorstelling gaan rechtstreeks naar dit goede doel. We houden jullie op de hoogte van de gekozen goede doelen van zodra de steden en gemeenten hun keuze hebben gemaakt. </p>
			<p>In 2017 konden we met de voorstelling 'ACHT' gemiddeld € 1000 aan elk goed doel geven. We kijken ernaar uit om 2019 te eindigen met opnieuw zo'n gulle gift! </p>

		</div>
	</div>
</div>
<div class="tile is-vertical is-parent is-2">
	<div class="tile is-not-growing is-not-shrinking">
		<div class="tile-content image-tile">
			<img src="/res/code_van_de_kaart/TBV1.JPG" title="Bank Vooruit speelt De Code Van De Kaart" class="cvdk-pic"/>
		</div>
	</div>
	<div class="tile is-not-growing is-not-shrinking">
		<div class="tile-content">
			<h1>Locaties</h1>
			<p>Reserveren is op dit moment nog niet mogelijk. Noteer alvast wel in je agenda:
				<ul>
					<li><b>zaterdag 14 december 2019</b><br>
						Baarle-Hertog (B) / Baarle-Nassau (NL) - Cultureel Centrum</li>
					<li><b>zondag 15 december 2019</b><br>
						Hulshout - Parochiezaal</li>
					<li><b>zaterdag 21 december 2019</b><br>
						Vorselaar - Jeugdcentrum</li>
					<li><b>zondag 22 december 2019</b><br>
						Westerlo - Zoerla</li>
					<li><b>maandag 23 december 2019</b><br>
						Ranst - Den Boomgaard</li>
					<li><b>vrijdag 27 december 2019</b><br>
						Turnhout - Future</li>
					<li><b>zaterdag 28 december 2019</b><br>
						Herentals - cc 't Schalíken</li>
					<li><b>maandag 30 december 2019</b><br>
						Olen - Theaterzaal Het Vierde Oor Teunenberg</li>
				</ul>
			</p>
		</div>
	</div>
	<div class="tile is-not-growing is-not-shrinking">
		<div class="tile-content image-tile">
			<img src="/res/code_van_de_kaart/TBV2.JPG" title="Bank Vooruit speelt De Code Van De Kaart" class="cvdk-pic"/>
		</div>
	</div>
</div>

{% include footer.html %}
