---
title: Bank Vooruit speelt De Code Van De Kaart
excerpt: Een spannende interactieve familievoorstelling voor De Warmste Week
---

{% include header.html %}

<div class="tile is-vertical is-parent is-2">
	<div class="tile is-not-growing is-not-shrinking">
		<div class="tile-content">
			<h1>De Code van de Kaart</h1>
			<p>
				In 'De Code van de Kaart' brengt een geheimzinnig Whatsapp-berichtje onze vijf vrienden weer bij elkaar in een theaterzaal. Op deze plek vinden ze een vreemde boodschap. Voor ze het goed en wel beseffen is er een digitaal virus ontsnapt dat het gemunt heeft op alle kerst- en nieuwjaarswensen. Een aftelklok begint te lopen en onze vier vrienden staan voor een mysterieuze opdracht. Kunnen ze hun onderlinge ruzie naast zich neerleggen en samen de oplossing vinden? Krijgen ze de nodige hulp van jongens en meisjes in de zaal? Of wordt het dit jaar een Kerstmis en Nieuwjaar zonder goede wensen en lieve berichten?
			</p>
			<p>
				'De Code van de Kaart' is een spannende, interactieve voorstelling voor kinderen en iedereen die jong van hart is. In het kader van de Warmste Week geven we alle inkomsten van deze voorstelling aan een <a href="/goede_doelen/">goed doel</a> dat door de gemeente/stad gekozen is.
			</p>

			<p>
				<b>Auteur</b> Stijn Neefs en Theater Bank Vooruit<br>
				<b>Regie</b> Stijn Neefs<br>
				<b>Acteurs</b> Theater Bank Vooruit<br>
				<b>Piano en muziek</b> Toon De Ceulaer<br>
			</p>
		</div>
	</div>
	<div class="tile is-not-growing is-not-shrinking">
		<div class="tile-content image-tile">
			<img src="/res/code_van_de_kaart/TBV3.JPG" title="Bank Vooruit speelt De Code Van De Kaart" class="cvdk-pic"/>
		</div>
	</div>
</div>
<div class="tile is-vertical is-parent is-2">
	<div class="tile is-not-growing is-not-shrinking">
		<div class="tile-content image-tile">
			<img src="/res/code_van_de_kaart/TBV1.JPG" title="Bank Vooruit speelt De Code Van De Kaart" class="cvdk-pic"/>
		</div>
	</div>
	<div class="tile is-not-growing is-not-shrinking">
		<div class="tile-content">
			<h1>Locaties</h1>
			<p>Wanneer ga jij mee op avontuur? Reserveer alvast je tickets.
				<ul>
					<li><b>zaterdag 14 december 2019</b> <b><a href="https://www.ccbaarle.org/index.php/aanbod/activiteiten">Meer info</a><b><br>
						Baarle-Hertog (B) / Baarle-Nassau (NL) - Cultureel Centrum - Reserveer via info@ccbaarle.org</li>
					<li><b>zondag 15 december 2019</b><br>
						Hulshout - Parochiezaal</li>
					<li><b>zaterdag 21 december 2019</b><br>
						Vorselaar - Jeugdcentrum</li>
					<li><b>zondag 22 december 2019</b><br>
						Westerlo - Zoerla</li>
					<li><b>maandag 23 december 2019</b><br>
						Ranst - Den Boomgaard</li>
					<li><b>vrijdag 27 december 2019</b><br>
						Turnhout - Future</li>
					<li><b>zaterdag 28 december 2019</b> <b><a href="https://www.schaliken.be/programma/familie/de-code-van-de-kaart-te-gast#1">Reserveer</a><b><br>
						Herentals - cc 't Schalíken</li>  
					<li><b>maandag 30 december 2019</b> <b><a href="https://be.ticketgang.eu/event.php?key=76522">Reserveer</a><b><br>
						Olen - Theaterzaal Het Vierde Oor Teunenberg</li>  
				</ul>
			</p>
		</div>
	</div>
	<div class="tile is-not-growing is-not-shrinking">
		<div class="tile-content image-tile">
			<img src="/res/code_van_de_kaart/TBV2.JPG" title="Bank Vooruit speelt De Code Van De Kaart" class="cvdk-pic"/>
		</div>
	</div>
</div>

{% include footer.html %}
