---
title: Bank Vooruit speelt De Code Van De Kaart
excerpt: Een spannende interactieve familievoorstelling voor De Warmste Week
---

{% include header.html %}


<div class="tile is-vertical is-parent">
	<div class="tile">
		<div class="tile-content ngo-info">
			<div class="ngo-pic">
				<img src="/res/goede_doelen/EzelsHoeve.png"/>
			</div>
			<div class="text-block">
				<h2>Baarle steunt</h2>
				<h1>Stichting de Ezelshoeve</h1>
				<p>
					Opvang voor verwaarloosde, mishandelde, zieke, oude en toekomstloze ezels uit Nederland en België. De Stichting biedt deze ezels een veilige en liefdevolle toekomst en streeft er zo veel mogelijk naar om voor deze dieren een nieuw thuis te vinden.
				</p>
				<a target="_blank" href="http://www.ezelshoeve.nl">Meer info over Stichting de Ezelshoeve</a>
				<p><i>Wil je dit goed doel ondersteunen? Kom op zaterdag 14&nbsp;december&nbsp;2019 naar onze familievoorstelling in Baarle!</i></p>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content ngo-info">
			<div class="ngo-pic">
				<img src="/res/goede_doelen/PonyHoef.png"/>
			</div>
			<div class="text-block">
				<h2>Hulshout steunt</h2>
				<h1>De Ponyhoef</h1>
				<p>
					De Ponyhoef vzw is een zorgboerderij met pony's waar kinderen met een beperking (ASS, fysiek, emotioneel, visueel en mentaal) terecht kunnen.
				</p>
				<a target="_blank" href="https://ponyhoef.weebly.com/">Meer info over De Ponyhoef</a>
				<p><i>Wil je dit goed doel ondersteunen? Kom op zondag 15&nbsp;december&nbsp;2019 naar onze familievoorstelling in Hulshout!</i></p>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content ngo-info">
			<div class="ngo-pic">
				<img src="/res/goede_doelen/HuisVanHetKind.png"/>
			</div>
			<div class="text-block">
				<h2>Vorselaar steunt </h2>
				<h1>Luierboxproject</h1>
				<p>
					Met het luierboxproject ondersteunt het Huis van het Kind gezinnen met pasgeboren kinderen, die het financieel moeilijk hebben.
				</p>
				<a target="_blank" href="http://www.isom.be/diensten/huis-van-het-kind-middenkempen">Meer info over Huis van het Kind</a>
				<p><i>Wil je dit goed doel ondersteunen? Kom op zaterdag 21&nbsp;december&nbsp;2019 naar onze familievoorstelling in Vorselaar!</i></p>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content ngo-info">
			<div class="ngo-pic">
				<img src="/res/goede_doelen/BroederlijkDelen.png"/>
			</div>
			<div class="text-block">
				<h2>Westerlo steunt</h2>
				<h1>Broederlijk Delen</h1>
				<p>
					Broederlijk Delen werkt samen met zo’n 130 lokale organisaties in Afrika, Latijns-Amerika en Israël en Palestina. Samen met hen strijden wij succesvol tegen armoede en ongelijkheid. Wij focussen daarbij op drie thema’s: recht op voedsel, duurzaam beheer van natuurlijke rijkdommen, en inspraak en vrede.
				</p>
				<a target="_blank" href="https://www.broederlijkdelen.be/nl">Meer info over Broederlijk Delen</a>
				<p><i>Wil je dit goed doel ondersteunen? Kom op zondag 22&nbsp;december&nbsp;2019 naar onze familievoorstelling in Westerlo!</i></p>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content ngo-info">
			<div class="ngo-pic">
				<img src=""/>
			</div>
			<div class="text-block">
				<h2>Ranst steunt</h2>
				<p>De gemeente Ranst heeft nog geen goede doel gekozen. We houden jullie op de hoogte!</p>
				<!--
				<h1></h1>
				<p>
				</p>
				<a target="_blank" href="">Meer info over </a>
				<p><i>Wil je dit goed doel ondersteunen? Kom op maandag 23&nbsp;december&nbsp;2019 naar onze familievoorstelling in Ranst!</i></p>
				-->
			</div>
		</div>
	</div>
	<div class="tile">
			<div class="tile-content ngo-info">
				<div class="ngo-pic">
					<img src="/res/goede_doelen/FeestVarken.png"/>
				</div>
				<div class="text-block">
					<h2>Turnhout steunt</h2>
					<h1>FEESTVARKEN</h1>
					<p>
						Elk kind verjaart. Elk kind moet zijn verjaardag ook kunnen vieren. Daarom zet FEESTVARKEN vzw zich in om verjaardagspakketten samen te stellen voor kinderen waarbij dit niet evident is. Via OCMW’s bezorgen we een verjaardagscadeau, een pakket om uit te delen in de klas en alle nodige attributen om thuis een verjaardagsfeestje te kunnen organiseren.
					</p>
					<a target="_blank" href="https://feestvarkenvzw.be/">Meer info over FEESTVARKEN</a>
					<p><i>Wil je dit goed doel ondersteunen? Kom op vrijdag 27&nbsp;december&nbsp;2019 naar onze familievoorstelling in Turnhout!</i></p>
				</div>
			</div>
		</div>
	<div class="tile">
			<div class="tile-content ngo-info">
				<div class="ngo-pic">
					<img src="/res/goede_doelen/OlivieHendrickxFonds.png"/>
				</div>
				<div class="text-block">
					<h2>Herentals steunt</h2>
					<h1>Olivia Fonds</h1>
					<p>Het Olivia Fonds slaat een <b>brug tussen vernieuwend kankeronderzoek en patiënten, met extra aandacht voor zieke kinderen</b>. Het fonds ondersteunt wetenschappers die zich verdiepen in behandelingen tegen kanker waar weinig commerciële belangstelling voor bestaat, maar die voor patiënten - en vooral kinderen - een groot verschil kunnen betekenen. Het Olivia Hendrickx Fonds ontstond als eerbetoon aan Olivia, die in april 2000 op bijna driejarige leeftijd overleed aan de gevolgen van een hersenstamtumor.
					</p>
					<a target="_blank" href="http://www.olivia.be">Meer info over het Olivia Fonds</a>
					<p><i>Wil je dit goed doel ondersteunen? Kom op zaterdag 28&nbsp;december&nbsp;2019 naar onze familievoorstelling in Herentals!</i></p>
				</div>
			</div>
		</div>
		<div class="tile">
			<div class="tile-content ngo-info">
				<div class="ngo-pic">
					<img src="/res/goede_doelen/Welzijnsschakels.png"/>
				</div>
				<div class="text-block">
					<h2>Olen steunt</h2>
					<h1>Welzijnsschakels</h1>
					<p>
						Elke mens verdient respect en heeft basisrechten in onze samenleving. Dat is de visie van de vrijwilligers van Welzijnsschakels. Daarom bieden we kansen aan mensen die uitsluiting ervaren door armoede of afkomst.  Dit gebeurt terwijl we elkaar ontmoeten in de eigen buurt. De Olense Welzijnsschakel werkt nauw samen met het OCMW van Olen om een zo groot mogelijke impact te hebben op de doelgroep.
					</p>
					<a target="_blank" href="https://www.olen.be/product/321/welzijnsschakel">Meer info over Welzijnsschakels</a>
					<p><i>Wil je dit goed doel ondersteunen? Kom op maandag 30&nbsp;december&nbsp;2019 naar onze familievoorstelling in Olen!</i></p>
				</div>
			</div>
		</div>
</div>

{% include footer.html %}