---
title: Bank Vooruit speelt ACHT
excerpt: Een spannende interactieve familievoorstelling voor De Warmste Week
---

{% include header.html %}


<div class="tile is-vertical is-parent">
	<div class="tile">
		<div class="tile-content ngo-info">
			<div class="ngo-pic">
				<img src="/res/bankvooruit.jpg"/>
			</div>
			<div class="text-block">
				<b>Vorselaar steunt het Kinderarmoedefonds</b>
				
				Persoonlijke tekst van gemeente Vorselaar over deze keuze.

				Website van de organisatie vermelden
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content ngo-info">
			<div class="ngo-pic">
				<img src="/res/bankvooruit.jpg"/>
			</div>
			<div class="text-block">
				<b>Vorselaar steunt het Kinderarmoedefonds</b>
				
				Persoonlijke tekst van gemeente Vorselaar over deze keuze.

				Website van de organisatie vermelden
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content ngo-info">
			<div class="ngo-pic">
				<img src="/res/bankvooruit.jpg"/>
			</div>
			<div class="text-block">
				<b>Vorselaar steunt het Kinderarmoedefonds</b>
				
				Persoonlijke tekst van gemeente Vorselaar over deze keuze.

				Website van de organisatie vermelden
			</div>
		</div>
	</div>
</div>

{% include footer.html %}