---
title: Theater Bank Vooruit speelt Goudje en de heldere maan
excerpt: Goudje en de heldere maan is een sprookjesachtige vertelling voor kinderen. De verteller wordt bijgestaan door Theater Bank Vooruit zodat kinderen het gevoel krijgen middenin in het verhaal te zitten. Zoals altijd gaan de inkomsten van de voorstelling naar het goede doel.
postimage: /res/2021goudje/GoudjeFlyer.jpg
---

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <meta charset="utf-8" />

  {% include head.html %}
  <body>
    {% include header.html %}

    <!-- content -->
    <div id="content-wrapper">
      <div class="tile is-vertical is-parent">
        <div class="tile">
          <div class="tile-content ngo-info">
            <div class="ngo-pic">
              <img src="/res/goede_doelen/HuisVanHetKind.png" />
            </div>
            <div class="text-block">
              <h2>Vorselaar steunt</h2>
              <h1>Luierboxproject</h1>
              <p>
                Met het luierboxproject ondersteunt het Huis van het Kind
                gezinnen met pasgeboren kinderen, die het financieel moeilijk
                hebben.
              </p>
              <a
                target="_blank"
                href="http://www.isom.be/diensten/huis-van-het-kind-middenkempen"
                >Meer info over Huis van het Kind</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op zaterdag
                  21&nbsp;december&nbsp;2019 naar onze familievoorstelling in
                  Vorselaar!</i
                >
              </p>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile-content ngo-info">
            <div class="ngo-pic">
              <img src="/res/goede_doelen/BroederlijkDelen.png" />
            </div>
            <div class="text-block">
              <h2>Westerlo steunt</h2>
              <h1>Broederlijk Delen</h1>
              <p>
                Broederlijk Delen werkt samen met zo’n 130 lokale organisaties
                in Afrika, Latijns-Amerika en Israël en Palestina. Samen met hen
                strijden ze succesvol tegen armoede en ongelijkheid. Ze focussen
                daarbij op drie thema’s: recht op voedsel, duurzaam beheer van
                natuurlijke rijkdommen, en inspraak en vrede.
              </p>
              <a target="_blank" href="https://www.broederlijkdelen.be/nl"
                >Meer info over Broederlijk Delen</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op zondag
                  22&nbsp;december&nbsp;2019 naar onze familievoorstelling in
                  Westerlo!</i
                >
              </p>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile-content ngo-info">
            <div class="ngo-pic">
              <img src="/res/goede_doelen/ColombiaSolidariteit.jpg" />
            </div>
            <div class="text-block">
              <h2>Ranst steunt</h2>
              <h1>Colombia Solidariteit</h1>
              <p>
                In de zomer van 2020 trekt een groep enthousiaste jongeren naar
                Villarrica in Colombia. Daar werd in 2017, na 52 jaar conflict
                een vredesakkoord gesloten. Om een herhaling van de geschiedenis
                te vermijden, moet er vrede gezaaid worden. Dat doen deze
                jongeren door 3 solidariteitsprojecten: een bouwproject
                (opwaardering van bestaand rusthuis), een schoolproject (Engelse
                les geven en leerkrachten ondersteunen) en een jeugdproject
                (lokale jeugdwerkers ondersteunen).
              </p>
              <a
                target="_blank"
                href="https://www.facebook.com/colombiasolidariteit/"
                >Meer info over Colombia Solidariteit</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op maandag
                  23&nbsp;december&nbsp;2019 naar onze familievoorstelling in
                  Ranst!</i
                >
              </p>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile-content ngo-info">
            <div class="ngo-pic">
              <img src="/res/goede_doelen/FeestVarken.png" />
            </div>
            <div class="text-block">
              <h2>Turnhout steunt</h2>
              <h1>Feestvarken</h1>
              <p>
                Elk kind verjaart. Elk kind moet zijn verjaardag ook kunnen
                vieren. Daarom zet FEESTVARKEN vzw zich in om
                verjaardagspakketten samen te stellen voor kinderen waarbij dit
                niet evident is. Via OCMW’s bezorgen ze hen een
                verjaardagscadeau, een pakket om uit te delen in de klas en alle
                nodige attributen om thuis een verjaardagsfeestje te kunnen
                organiseren.
              </p>
              <a target="_blank" href="https://feestvarkenvzw.be/"
                >Meer info over FEESTVARKEN</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op vrijdag
                  27&nbsp;december&nbsp;2019 naar onze familievoorstelling in
                  Turnhout!</i
                >
              </p>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile-content ngo-info">
            <div class="ngo-pic">
              <img src="/res/goede_doelen/OlivieHendrickxFonds.png" />
            </div>
            <div class="text-block">
              <h2>Herentals steunt</h2>
              <h1>Olivia Fonds</h1>
              <p>
                Het Olivia Fonds slaat een brug tussen vernieuwend
                kankeronderzoek en patiënten, met extra aandacht voor zieke
                kinderen. Het fonds ondersteunt wetenschappers die zich
                verdiepen in behandelingen tegen kanker waar weinig commerciële
                belangstelling voor bestaat, maar die voor patiënten - en vooral
                kinderen - een groot verschil kunnen betekenen. Het Olivia
                Hendrickx Fonds ontstond als eerbetoon aan Olivia, die in april
                2000 op bijna driejarige leeftijd overleed aan de gevolgen van
                een hersenstamtumor.
              </p>
              <a target="_blank" href="http://www.olivia.be"
                >Meer info over het Olivia Fonds</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op zaterdag
                  28&nbsp;december&nbsp;2019 naar onze familievoorstelling in
                  Herentals!</i
                >
              </p>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile-content ngo-info">
            <div class="ngo-pic">
              <img src="/res/goede_doelen/Welzijnsschakels.png" />
            </div>
            <div class="text-block">
              <h2>Olen steunt</h2>
              <h1>Welzijnsschakels</h1>
              <p>
                Elke mens verdient respect en heeft basisrechten in onze
                samenleving. Dat is de visie van de vrijwilligers van
                Welzijnsschakels. Daarom biedt Welzijnsschakels kansen aan
                mensen die uitsluiting ervaren door armoede of afkomst. Dit
                gebeurt terwijl mensen elkaar ontmoeten in de eigen buurt. De
                Olense Welzijnsschakel werkt nauw samen met het OCMW van Olen om
                een zo groot mogelijke impact te hebben op de doelgroep.
              </p>
              <a
                target="_blank"
                href="https://www.olen.be/product/321/welzijnsschakel"
                >Meer info over Welzijnsschakels</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op maandag
                  30&nbsp;december&nbsp;2019 naar onze familievoorstelling in
                  Olen!</i
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
