---
title: Bank Vooruit speelt ACHT
excerpt: Een spannende interactieve familievoorstelling voor De Warmste Week
---

{% include header.html %}

<div class="home">
	<div class="home-poster">
		<img src="res/flyer.jpg"/>
		<p>Met extra voorstelling in Vorselaar om 10u30!</p>
	</div>
	<div class="tile is-parent">
		<div class="tile-content home-cities" title="Steden en gemeenten waar we spelen">
			<img title="Vorselaar" src="/res/steden/Vorselaar.png"/>
			<img title="Ranst" src="/res/steden/Ranst.jpg"/>
			<img title="Lier" src="/res/steden/Lier.png"/>
			<img title="Hulshout" src="/res/steden/Hulshout.jpg"/>
			<img title="Herentals" src="/res/steden/Herentals.jpg"/>
		</div>
	</div>
	<div class="tile is-parent">
		<div class="tile-content home-ngos" title="Goede doelen waar we voor spelen">
			<img title="Kinderarmoedefonds" src="/res/goede_doelen/Kinderarmoedefonds.png"/>
			<img title="vzw De Stappaert" src="/res/goede_doelen/DeStappaert.jpg"/>
			<img title="Support Banzai" src="/res/goede_doelen/SupportBanzai.png"/>
			<img title="VOC Neteland" src="/res/goede_doelen/VOCNeteland.png"/>
			<img title="Olivia Hencrickx Fonds" src="/res/goede_doelen/OlivieHendrickxFonds.png"/>
		</div>
	</div>
</div>

{% include footer.html %}
