---
title: Bank Vooruit QUIZT
excerpt: Een gezellige quiz met een stevig vleugje BankVooruit-kruiden
---

{% include header.html %}

<div class="home">
	<div class="home-poster">
		<img src="res/flyer.jpg"/>
	</div>
	<div class="tile is-parent">
		<div class="tile-content" title="De Bank Vooruit Quiz!">
			<p>
				Een gezellige quiz met een stevig vleugje BankVooruit-kruiden. Met deze quiz verdienen we een centje om onze volgende theaterproductie voor kinderen te kunnen financieren. Die theaterproductie komt eraan in het najaar van 2019.
			<p/>
			<a href="/inschrijven" class="action-button">Schrijf je snel in!</a>
		</div>
	</div>
</div>

{% include footer.html %}
