---
title: Theater Bank Vooruit speelt Goudje en de heldere maan
excerpt: Goudje en de heldere maan is een sprookjesachtige vertelling voor kinderen. De verteller wordt bijgestaan door Theater Bank Vooruit zodat kinderen het gevoel krijgen middenin in het verhaal te zitten. Zoals altijd gaan de inkomsten van de voorstelling naar het goede doel.
postimage: /res/2021goudje/GoudjeFlyer.jpg
---

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <meta charset="utf-8" />

  {% include head.html %}
  <body>
    {% include header.html %}

    <!-- content -->
    <div id="content-wrapper">
      <div class="tile">
        <div class="tile-content inschrijven">
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLScUljdmHF7u3Y-i3aUwTQG62KAgaqh-5Ps6tD0YqQ3S4qFQ5g/viewform?embedded=true"
            width="700"
            height="1000"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            >Bezig met laden...</iframe
          >
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
