---
title: Theater Bank Vooruit speelt Goudje en de heldere maan
excerpt: Goudje en de heldere maan is een sprookjesachtige vertelling voor kinderen. De verteller wordt bijgestaan door Theater Bank Vooruit zodat kinderen het gevoel krijgen middenin in het verhaal te zitten. Zoals altijd gaan de inkomsten van de voorstelling naar het goede doel.
postimage: /res/2022goudje/GoudjeFlyer.jpg
---

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <meta charset="utf-8" />

  {% include head.html %}
  <body>
    {% include header.html %}

    <!-- content -->
    <div id="content-wrapper">
      <div class="tile is-vertical is-parent is-2">
                <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2022goudje/FB cover-Goudje.png"
              title="Bank Vooruit speelt Goudje en de heldere maan"
              class="goudje-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content">
            <h1>Goudje en de heldere maan</h1>
            <p>
              Mevrouw Goudraad is de beste naaister van het hele land. Ze maakt
              alle kledij voor de koning en zijn hofhouding. Het was voor haar
              een hele eer toen haar werd gevraagd om voor de prinses een
              bruidsjurk te maken. Het moet de mooiste bruidsjurk zijn die er
              ooit in de wereld geweest is. Alle mensen zullen vol bewondering
              kijken naar de prinses. Maar de avond voor het huwelijk loopt het
              fout. Er ontbreekt iets aan de bruidsjurk. Goudje moet 's nachts
              op avontuur. Zal het haar lukken om de bruidsjurk op tijd af te
              krijgen?
            </p>
            <p>
              Goudje en de heldere maan is een sprookjesachtige vertelling voor
              kinderen. De verteller wordt bijgestaan door Theater Bank Vooruit
              zodat kinderen het gevoel krijgen middenin in het verhaal te
              zitten. Zoals altijd gaan de inkomsten van de voorstelling naar
              het goede doel.
            </p>

            <p>
              <b>Auteur</b> Kirsten Goossens en Theater Bank Vooruit<br />
              <b>Regie</b> Theater Bank Vooruit<br />
              <b>Acteurs</b> Theater Bank Vooruit<br />
              <b>Geluiden en muziek</b> Toon De Ceulaer<br />
            </p>
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content">
            <h1>Locaties en info</h1>
            <div>
              Wanneer ga jij mee op avontuur?
              <ul class="location-list">
                <li>
                  <span class="location-name">Vorselaar</span>
                  <ul class="location-info">
                    <li><span class="location-info-label">Wanneer: </span>Zaterdag 17 december 2022 - 10u30 of 13u30</li>
                    <li><span class="location-info-label"></span>Waar: </span>LDC Sprankel, Nieuwstraat 13, 2290 Vorselaar</li>
                    <li><span class="location-info-label"></span>Goed doel: </span><a
                      href="https://www.levensloop.be/relays/neteland-vorselaar-grobbendonk-2022"
                      target="_blank"
                      >Levensloop Neteland</a
                    > (Ondersteuning mensen met kanker en kankeronderzoek)</li>
                    <!-- <li><a href="" target="_blank">Reserveer</a></li> -->
                  </ul>
                </li>
                <li>
                  <span class="location-name">Nijlen</span>
                  <ul class="location-info">
                    <li><span class="location-info-label">Wanneer: </span>Zondag 18 december 2022 - 10u30</li>
                    <li><span class="location-info-label"></span>Waar: </span>info volgt later</li>
                    <!-- <li><span class="location-info-label"></span>Goed doel: </span></li> -->
                    <li>Georganiseerd door de Gezinsbond</li>
                    <!-- <li><a href="" target="_blank">Reserveer</a></li> -->
                  </ul>
                </li>
                <li>
                  <span class="location-name">Grobbendonk</span>
                  <ul class="location-info">
                    <li><span class="location-info-label">Wanneer: </span>Dinsdag 27 december 2022 - 10u30</li>
                    <li><span class="location-info-label"></span>Waar: </span>Volle Vaart, Vaartkom 6, 2280 Grobbendonk
                    </li>
                    <li><span class="location-info-label"></span>Goed doel: </span><a
                      href="https://www.levensloop.be/relays/neteland-vorselaar-grobbendonk-2022"
                      target="_blank"
                      >Levensloop Neteland</a
                    >(Ondersteuning mensen met kanker en kankeronderzoek)</li>
                    <!-- <li><a href="" target="_blank">Reserveer</a></li> -->
                  </ul>
                </li>
                <li>
                  <span class="location-name">Olen</span>
                  <ul class="location-info">
                    <li><span class="location-info-label">Wanneer: Woensdag 28 december 2022 - 10u30</span></li>
                    <li><span class="location-info-label"></span>Waar: </span>Theaterzaal Het Vierde Oor - Domein Teunenberg</li>
                    <li><span class="location-info-label"></span>Goed doel: </span>Olen tegen kanker & Sanders ontbijt (Rondoufonds)</li>
                    <li><a href="https://be.ticketgang.eu/orgFrameSaleNew.php?org=2621&event=120984# " target="_blank">Reserveer</a></li>
                  </ul>
                </li>
                <li>
                  <span class="location-name">Ranst</span>
                  <ul class="location-info">
                    <li><span class="location-info-label">Wanneer: </span>Dinsdag 3 januari 2023 - 10u30</li>
                    <li><span class="location-info-label"></span>Waar: </span>GC Den Boomgaard, Antwerpsesteenweg 43, 2520 Broechem
                      </li>
                    <li><span class="location-info-label"></span>Goed doel: </span><a
                      href="www.feestvarkenvzw.be"
                      target="_blank"
                      >Feestvarken vzw</a>
                      (Verjaardagspaketten voor kinderen in armoede)
                      </li>
                    <!-- <li><a href="" target="_blank">Reserveer</a></li> -->
                  </ul>
                </li>
                <li>
                  <span class="location-name">Hulshout</span>
                  <ul class="location-info">
                    <li><span class="location-info-label">Wanneer: </span>Woensdag 4 januari 2030 - 14u30</li>
                    <li><span class="location-info-label"></span>Waar: </span>Gemeenschapscentrum IJzermael, Monseigneur Raeymaekersstraat 11, 2235 Hulshout
                      </li>
                    <!-- <li><span class="location-info-label"></span>Goed doel: </span></li> -->
                    <!-- <li><a href="" target="_blank">Reserveer</a></li> -->
                  </ul>
                </li>
                <!-- <li>
                  <span class="location-name">Lier</span>
                  <ul class="location-info">
                    <li><span class="location-info-label">Wanneer: </span>Zondag 8 januari 2023 - 10u30</li>
                    <li><span class="location-info-label"></span>Waar: </span>Sint-Ursula-Instituut, Kanunnik-Davidlaan 15, 2500 Lier
                      </li>
                    <li><span class="location-info-label"></span>Goed doel: </span>Sint-Ursula-fietst voor Coop Africa</li>
                    <li><a href="" target="_blank">Reserveer</a></li>
                  </ul>
                </li> -->
              </ul>
              <p>Ticketprijs: €8 voor +12&nbsp;jaar, €5 voor -12&nbsp;jaar</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-vertical is-parent is-2">
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content">
            <h1>Goede doelen</h1>
            <div>
              <img
                class="home-ngo-img"
                src="/res/goede_doelen/OlenTegenKanker.png"
              />
              <h2>Olen tegen kanker</h2>
              <p>
                Olen tegen kanker organiseert fondswervende activiteiten,
                voorziet informatie over kanker aan kankerpatiënten in Olen en
                organiseert activiteiten voor kankerpatiënten en hun naasten
              </p>
              <a target="_blank" href="https://www.olentegenkanker.be/"
                >Meer info over Olen tegen kanker</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op woensdag
                  28&nbsp;december&nbsp;2021 naar onze voorstelling in Olen!</i
                >
              </p>
            </div>
            <div>
              <img
                class="home-ngo-img"
                src="/res/goede_doelen/Rondoufonds.png"
              />
              <h2>Sanders ontbijt (Rondoufonds)</h2>
              <p>
                Het Rondoufonds steunt wetenschappelijk onderzoek naar de ziekte
                van Duchenne
              </p>
              <a target="_blank" href="https://www.rondoufonds.be/"
                >Meer info over het Rondoufonds</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op woensdag
                  28&nbsp;december&nbsp;2021 naar onze voorstelling in Olen!</i
                >
              </p>
            </div>
            <div>
              <img
                class="home-ngo-img"
                src="/res/goede_doelen/Levensloop.jpg"
              />
              <h2>Levensloop</h2>
              <p>Levensloop is deel van Stichting tegen Kanker</p>
              <a target="_blank" href="https://www.levensloop.be/"
                >Meer info over Levensloop</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op zondag
                  17&nbsp;december&nbsp;2022 naar onze voorstelling in
                  Vorselaar of dinsdag 27&nbsp;december&nbsp;2022 naar onze voorstelling in Grobbendonk!</i
                >
              </p>
            </div>
            <div>
              <img
                class="home-ngo-img"
                src="/res/goede_doelen/FeestVarken2.jpg"
              />
              <h2>Feestvarken</h2>
              <p>Feestvarken verzorgt verjaardagspaketten voor kinderen in armoede</p>
              <a target="_blank" href="www.feestvarkenvzw.be "
                >Meer info over Feestvarken</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op dinsdag 3&nbsp;januari&nbsp;2023 naar onze voorstelling in Ranst!</i
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
