---
title: Theater Bank Vooruit speelt Goudje en de heldere maan
excerpt: Goudje en de heldere maan is een sprookjesachtige vertelling voor kinderen. De verteller wordt bijgestaan door Theater Bank Vooruit zodat kinderen het gevoel krijgen middenin in het verhaal te zitten. Zoals altijd gaan de inkomsten van de voorstelling naar het goede doel.
postimage: /res/2021goudje/GoudjeFlyer.jpg
---

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <meta charset="utf-8" />

  {% include head.html %}
  <body>
    {% include header.html %}

    <!-- content -->
    <div id="content-wrapper">
      <div class="tile is-vertical is-parent is-2">
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content">
            <h1>Goudje en de heldere maan</h1>
            <p>
              Mevrouw Goudraad is de beste naaister van het hele land. Ze maakt
              alle kledij voor de koning en zijn hofhouding. Het was voor haar
              een hele eer toen haar werd gevraagd om voor de prinses een
              bruidsjurk te maken. Het moet de mooiste bruidsjurk zijn die er
              ooit in de wereld geweest is. Alle mensen zullen vol bewondering
              kijken naar de prinses. Maar de avond voor het huwelijk loopt het
              fout. Er ontbreekt iets aan de bruidsjurk. Goudje moet 's nachts
              op avontuur. Zal het haar lukken om de bruidsjurk op tijd af te
              krijgen?
            </p>
            <p>
              Goudje en de heldere maan is een sprookjesachtige vertelling voor
              kinderen. De verteller wordt bijgestaan door Theater Bank Vooruit
              zodat kinderen het gevoel krijgen middenin in het verhaal te
              zitten. Zoals altijd gaan de inkomsten van de voorstelling naar
              het goede doel.
            </p>

            <p>
              <b>Auteur</b> Kirsten Goossens en Theater Bank Vooruit<br />
              <b>Regie</b> Stijn Neefs<br />
              <b>Acteurs</b> Theater Bank Vooruit<br />
              <b>Piano en muziek</b> Toon De Ceulaer<br />
            </p>

            <p>
              <i
                >Het verhaal van Goudje is na de voorstelling te koop in
                boekvorm</i
              >
            </p>
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content">
            <h1>Locaties</h1>
            <div>
              Wanneer ga jij mee op avontuur?
              <ul>
                <li>
                  <b>Woensdag 29 december 2021 - 11u, 13u of 15u</b>
                  <a
                    href="https://be.ticketgang.eu/orgFrameSaleNew.php?org=2621&event=106819#"
                    target="_blank"
                    >Reserveer</a
                  ><br />
                  Teunenberg, Olen<br />
                </li>
                <li>
                  <b>Zondag 9 januari 2022 - 11u, 13u of 15u</b>
                  <a
                    href="https://be.ticketgang.eu/orgFrameSaleNew.php?org=10471&event=107074#"
                    target="_blank"
                    >Reserveer</a
                  ><br />
                  De Volle Vaart, Grobbendonk<br />
                </li>
              </ul>
              <i
                >Opgelet: informatie over de dan geldende coronamaatregelen
                volgt later</i
              >
              <p>Ticketprijs: €8 voor +12&nbsp;jaar, €5 voor -12&nbsp;jaar</p>
            </div>
          </div>
        </div>
        <!-- <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2021goudje/GoudjeFlyer.jpg"
              title="Bank Vooruit speelt Goudje en de heldere maan"
              class="goudje-pic"
            />
          </div>
        </div> -->
      </div>
      <div class="tile is-vertical is-parent is-2">
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2021goudje/GoudjeFlyer.jpg"
              title="Bank Vooruit speelt Goudje en de heldere maan"
              class="goudje-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content">
            <h1>Goede doelen</h1>
            <div>
              <img
                class="home-ngo-img"
                src="/res/goede_doelen/OlenTegenKanker.png"
              />
              <h2>Olen tegen kanker</h2>
              <p>
                Olen tegen kanker organiseert fondswervende activiteiten,
                voorziet informatie over kanker aan kankerpatiënten in Olen en
                organiseert activiteiten voor kankerpatiënten en hun naasten
              </p>
              <a target="_blank" href="https://www.olentegenkanker.be/"
                >Meer info over Olen tegen kanker</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op woensdag
                  29&nbsp;december&nbsp;2021 naar onze voorstelling in Olen!</i
                >
              </p>
            </div>
            <div>
              <img
                class="home-ngo-img"
                src="/res/goede_doelen/MaisonMaurice.png"
              />
              <h2>Maison Maurice</h2>
              <p>
                Vzw Maison Maurice zet zich vooral in voor kwetsbare kinderen in
                Kisangani, een stad in Democratische Republiek Congo, in
                Centraal-Afrika
              </p>
              <a target="_blank" href="https://vzwmaisonmaurice.be/home/"
                >Meer info over Maison Maurice</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op woensdag
                  29&nbsp;december&nbsp;2021 naar onze voorstelling in Olen!</i
                >
              </p>
            </div>
            <div>
              <img
                class="home-ngo-img"
                src="/res/goede_doelen/Rondoufonds.png"
              />
              <h2>Rondoufonds</h2>
              <p>
                Het Rondoufonds steunt wetenschappelijk onderzoek naar de ziekte
                van Duchenne
              </p>
              <a target="_blank" href="https://www.rondoufonds.be/"
                >Meer info over het Rondoufonds</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op woensdag
                  29&nbsp;december&nbsp;2021 naar onze voorstelling in Olen!</i
                >
              </p>
            </div>
            <div>
              <img
                class="home-ngo-img"
                src="/res/goede_doelen/Levensloop.jpg"
              />
              <h2>Levensloop</h2>
              <p>Levensloop is deel van Stichting tegen Kanker</p>
              <a target="_blank" href="https://www.levensloop.be/"
                >Meer info over Levensloop</a
              >
              <p>
                <i
                  >Wil je dit goed doel ondersteunen? Kom op zondag
                  9&nbsp;januari&nbsp;2022 naar onze voorstelling in
                  Grobbendonk!</i
                >
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
            src="/res/2021goudje/GoudjeFlyer.jpg"
            title="Bank Vooruit speelt Goudje en de heldere maan"
            class="goudje-pic"
          />
          </div>
        </div> -->
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
