---
title: Theater Bank Vooruit speelt Goudje en de heldere maan
excerpt: Goudje en de heldere maan is een sprookjesachtige vertelling voor kinderen. De verteller wordt bijgestaan door Theater Bank Vooruit zodat kinderen het gevoel krijgen middenin in het verhaal te zitten. Zoals altijd gaan de inkomsten van de voorstelling naar het goede doel.
postimage: /res/2021goudje/GoudjeFlyer.jpg
---

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <meta charset="utf-8" />

  {% include head.html %}
  <body>
    {% include header.html %}

    <!-- content -->
    <div id="content-wrapper">
      <div class="tile is-vertical is-parent is-2">
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content">
            <h1>Goudje en de heldere maan</h1>
            <p>
              Mevrouw Gouddraad is de beste naaister van het hele land. Ze maakt
              alle kledij voor de koning en zijn hofhouding. Het was voor haar
              een hele eer toen haar werd gevraagd om voor de prinses een
              bruidsjurk te maken. Het moet de mooiste bruidsjurk zijn die er
              ooit in de wereld geweest is. Alle mensen zullen vol bewondering
              kijken naar de prinses. Maar de avond voor het huwelijk loopt het
              fout. Er ontbreekt iets aan de bruidsjurk. Goudje moet 's nachts
              op avontuur. Zal het haar lukken om de bruidsjurk op tijd af te
              krijgen?
            </p>
            <p>
              Goudje en de heldere maan is een sprookjesachtige vertelling voor
              kinderen. De verteller wordt bijgestaan door Theater Bank Vooruit
              zodat kinderen het gevoel krijgen middenin in het verhaal te
              zitten. Zoals altijd gaan de inkomsten van de voorstelling naar
              het goede doel.
            </p>

            <p>
              <b>Auteur</b> Kirsten Goossens en Theater Bank Vooruit<br />
              <b>Regie</b> Stijn Neefs<br />
              <b>Acteurs</b> Theater Bank Vooruit<br />
              <b>Piano en muziek</b> Toon De Ceulaer<br />
            </p>
          </div>
        </div>
        <!-- <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2021goudje/GoudjeFlyer.jpg"
              title="Bank Vooruit speelt Goudje en de heldere maan"
              class="goudje-pic"
            />
          </div>
        </div> -->
      </div>
      <div class="tile is-vertical is-parent is-2">
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
              src="/res/2021goudje/GoudjeFlyer.jpg"
              title="Bank Vooruit speelt Goudje en de heldere maan"
              class="goudje-pic"
            />
          </div>
        </div>
        <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content">
            <h1>Locaties</h1>
            <div>
              Wanneer ga jij mee op avontuur?
              <ul>
                <li>
                  <b>Woensdag 29 december 2021</b>
                  <!-- <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSeTZyhgF77ffGtE8tBJgPK7dUTni4siYKIHzOWMCY50T7wpVg/viewform"
                    target="_blank"
                    >Reserveer</a
                  ><br /> -->
                  Teunenberg, Olen
                </li>
                <li>
                  <b>Zondag 9 januari 2022</b>
                  <!-- <a
                    href="https://webshopwesterlo.recreatex.be/Activities/Detail"
                    target="_blank"
                    >Reserveer</a
                  ><br /> -->
                  Grobbendonk
                </li>
              </ul>
              <i>Info over het uur en de tickets volgt later</i>
            </div>
          </div>
        </div>
        <!-- <div class="tile is-not-growing is-not-shrinking">
          <div class="tile-content image-tile">
            <img
            src="/res/2021goudje/GoudjeFlyer.jpg"
            title="Bank Vooruit speelt Goudje en de heldere maan"
            class="goudje-pic"
          />
          </div>
        </div> -->
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
