---
title: Bank Vooruit speelt De Code Van De Kaart
excerpt: Een spannende interactieve familievoorstelling voor De Warmste Week
---

{% include header.html %}

<div class="tile is-vertical is-parent">
	<div class="tile">
		<div class="tile-content">
			In het najaar van 2018 hielden we een te gekke en zeer gesmaakte Bank Vooruit-quiz in Lier. Bedankt aan alle ploegen die toen aanwezig waren. Dankzij jullie kunnen we in 2019 'De Code van Kaart' maken en alle ticketopbrengsten wegschenken. Dikke merci en wie weet... tot een volgende Quiz!
		</div>
	</div>
	<div class="tile">
		<div class="tile-content image-tile">
			<img src="/res/quiz/quizFlyer.jpg"/>
		</div>
	</div>
</div>

{% include footer.html %}
