---
title: Theater Bank Vooruit speelt Goudje en de heldere maan
excerpt: Goudje en de heldere maan is een sprookjesachtige vertelling voor kinderen. De verteller wordt bijgestaan door Theater Bank Vooruit zodat kinderen het gevoel krijgen middenin in het verhaal te zitten. Zoals altijd gaan de inkomsten van de voorstelling naar het goede doel.
postimage: /res/2022goudje/GoudjeFlyer.jpg
---

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <meta charset="utf-8" />

  {% include head.html %}
  <body>
    {% include header.html %}

    <!-- content -->
    <div id="content-wrapper">
      <div class="tile">
        <div class="tile-content">
          <h1>Sponsoring</h1>
          <p>
            Bij Theater Bank Vooruit schenken we alle inkomsten uit onze
            voorstellingen weg aan lokale goede doelen. Natuurlijk is het maken
            van onze voorstellingen niet gratis. Hoewel we erg spaarzaam omgaan
            met centjes, hebben we toch bepaalde productiekosten voor attributen
            en kledij.
          </p>
          <p>
            Daarom zouden we erg dankbaar zijn voor enkele personen of bedrijven
            die onze visie en werking bijzonder genoeg vinden om ons een
            financieel duwtje in de rug te geven. Als jij het op je hart hebt om
            dit te doen, neem dan zeker even contact op met ons via
            <a href="mailto:theaterbankvooruit@gmail.com"
              >theaterbankvooruit@gmail.com</a
            >
          </p>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
