---
title: Bank Vooruit speelt Goudje en de heldere maan
excerpt: Een sprookjesachtige familievertelling
---

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <meta charset="utf-8" />

  {% include head.html %}
  <body>
    {% include header.html %}

    <!-- content -->
    <div id="content-wrapper">
      <div class="tile is-vertical is-parent">
        <div class="tile">
          <div class="tile-content practical-info">
            <div class="city-pic">
              <img src="/res/steden/Vorselaar.png" />
            </div>
            <div class="text-block">
              <h1>Vorselaar</h1>
              <p>
                De Schranshoeve Zaterdag 16 december 10u30 en 14u30 €5 (-12j) /
                € 8 (+12j)

                <a target="blank" href="http://www.vorselaar.be/acht/"
                  >Bestel tickets</a
                >

                <i
                  >De opbrengst van deze voorstelling gaat naar
                  het&nbsp;Kinderarmoedefonds</i
                >
              </p>
              <a
                href="https://www.facebook.com/events/1990128474548446/"
                target="_blank"
                class="facebook-event"
              >
                <span class="fa fa-facebook"></span>Bekijk ook ons event
              </a>
            </div>
            <div class="ngo-pic">
              <img src="/res/goede_doelen/Kinderarmoedefonds.png" />
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile-content practical-info">
            <div class="city-pic">
              <img src="/res/steden/Ranst.jpg" />
            </div>
            <div class="text-block">
              <h1>Ranst</h1>
              <p>
                GC Den Boomgaard Zaterdag 23 december 14u30 €5 (-12j) / € 8
                (+12j) Tickets enkel ter plaatse te koop

                <i
                  >De opbrengst van deze voorstelling gaat naar
                  vzw&nbsp;De&nbsp;Stappaert</i
                >
              </p>
              <a
                href="https://www.facebook.com/events/1677053305936308/"
                target="_blank"
                class="facebook-event"
              >
                <span class="fa fa-facebook"></span>Bekijk ook ons event
              </a>
            </div>
            <div class="ngo-pic">
              <img src="/res/goede_doelen/DeStappaert.jpg" />
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile-content practical-info">
            <div class="city-pic">
              <img src="/res/steden/Lier.png" />
            </div>
            <div class="text-block">
              <h1>Lier</h1>
              <p>
                CC Vredeberg Dinsdag 26 december 14u30 €5 (-12j) / € 8 (+12j)

                <a
                  target="blank"
                  href="https://www.lierscultuurcentrum.be/programma/theater-bank-vooruit-acht/9760"
                  >Bestel tickets</a
                >

                <i
                  >De opbrengst van deze voorstelling gaat naar
                  Support&nbsp;Banzai</i
                >
              </p>
              <a
                href="https://www.facebook.com/events/316991112090088/"
                target="_blank"
                class="facebook-event"
              >
                <span class="fa fa-facebook"></span>Bekijk ook ons event
              </a>
            </div>
            <div class="ngo-pic">
              <img src="/res/goede_doelen/SupportBanzai.png" />
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile-content practical-info">
            <div class="city-pic">
              <img src="/res/steden/Hulshout.jpg" />
            </div>
            <div class="text-block">
              <h1>Hulshout</h1>
              <p>
                <i>Opgelet: gewijzigde locatie!</i>

                Parochiezaal Houtvenne Donderdag 28 december 14u30 €5 (-12j) / €
                8 (+12j)

                <a
                  target="blank"
                  href="http://www.hulshout.be/index.php?pageID=39007494"
                  >Bestel tickets</a
                >

                <i
                  >De opbrengst van deze voorstelling gaat naar
                  het&nbsp;VOC&nbsp;Neteland</i
                >
              </p>
              <a
                href="https://www.facebook.com/events/178684065997918/"
                target="_blank"
                class="facebook-event"
              >
                <span class="fa fa-facebook"></span>Bekijk ook ons event
              </a>
            </div>
            <div class="ngo-pic">
              <img src="/res/goede_doelen/VOCNeteland.png" />
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile-content practical-info">
            <div class="city-pic">
              <img src="/res/steden/Herentals.jpg" />
            </div>
            <div class="text-block">
              <h1>Herentals</h1>
              <p>
                CC ‘t Schalíken Zaterdag 30 december 14u30 €5 (-12j) / € 8
                (+12j)

                <a
                  target="blank"
                  href="http://www.schaliken.be/programma/acht-te-gast"
                  >Bestel tickets</a
                >

                <i
                  >De opbrengst van deze voorstelling gaat naar
                  het&nbsp;Olivia&nbsp;Fonds</i
                >
              </p>
              <a
                href="https://www.facebook.com/events/195838170940564/"
                target="_blank"
                class="facebook-event"
              >
                <span class="fa fa-facebook"></span>Bekijk ook ons event
              </a>
            </div>
            <div class="ngo-pic">
              <img src="/res/goede_doelen/OlivieHendrickxFonds.png" />
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
