---
title: Bank Vooruit speelt ACHT
excerpt: Een spannende interactieve familievoorstelling voor De Warmste Week
---

{% include header.html %}

<div class="tile is-vertical is-parent">
	<div class="tile">
		<div class="tile-content practical-info">
			<div class="city-pic">
				<img src="/res/steden/Vorselaar.png"/>
			</div>
			<div class="text-block">
				<b>Vorselaar</b>
				
				De Schranshoeve
				Zaterdag 16 december
				14u30

				€5 (-12j) / € 8 (+12j)
				Tickets enkel ter plaatse te koop
			</div>
			<div class="ngo-pic">
				<img src="/res/goede_doelen/Kinderarmoederfonds.png"/>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content practical-info">
			<div class="city-pic">
				<img src="/res/steden/Ranst.jpg"/>
			</div>
			<div class="text-block">
				<b>Ranst</b>
				
				GC Den Boomgaard
				Zaterdag 23 december
				14u30

				€5 (-12j) / € 8 (+12j)
				Tickets enkel ter plaatse te koop
			</div>
			<div class="ngo-pic">
				<img src="/res/goede_doelen/GoedDoel.png"/>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content practical-info">
			<div class="city-pic">
				<img src="/res/steden/Lier.png"/>
			</div>
			<div class="text-block">
				<b>Lier</b>
				
				CC Vredeberg
				Dinsdag 26 december
				14u30

				€5 (-12j) / € 8 (+12j)
				<a target="blank" href="https://www.lierscultuurcentrum.be/programma/theater-bank-vooruit-acht/9760">Bestel tickets</a>
			</div>
			<div class="ngo-pic">
				<img src="/res/goede_doelen/SupportBanzai.png"/>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content practical-info">
			<div class="city-pic">
				<img src="/res/steden/Hulshout.jpg"/>
			</div>
			<div class="text-block">
				<b>Hulshout</b>
				
				Zaal De Vloeikens
				Donderdag 28 december
				14u30

				€5 (-12j) / € 8 (+12j)
				<a target="blank" href="http://www.hulshout.be/index.php?pageID=39007494">Bestel tickets</a>
			</div>
			<div class="ngo-pic">
				<img src="/res/goede_doelen/VOCNeteland.png"/>
			</div>
		</div>
	</div>
	<div class="tile">
		<div class="tile-content practical-info">
			<div class="city-pic">
				<img src="/res/steden/Herentals.jpg"/>
			</div>
			<div class="text-block">
				<b>Herentals</b>
			
				CC ‘t Schalíken
				Zaterdag 30 december
				14u30

				€5 (-12j) / € 8 (+12j)
				<a target="blank" href="http://www.schaliken.be/programma/acht-te-gast">Bestel tickets</a>
			</div>
			<div class="ngo-pic">
				<img src="/res/goede_doelen/OlivieHendrickxFonds.png"/>
			</div>
		</div>
	</div>
</div>

{% include footer.html %}