
	</div>

<!-- Footer -->
<div id="footer">
	<div class="footer-group">
		<a href="https://dewarmsteweek.stubru.be/" class="footer-element">
			<img src="/res/WarmsteWeek.png" title="De Warmste Week" class="pic"/>
		</a>
		<a href="https://dewarmsteweek.stubru.be/" class="footer-element">
			<span class="text">In het kader van <br>de Warmste Week</span> 
		</a>
	</div>
	<div class="footer-group">
		<div class="footer-element">
			<a href="http://www.guidogeernaert.be/">
				<img src="/res/sponsors/Geernaert.png" title="nv Guido Geernaert" class="sponsor pic"/>
			</a>
		</div>
		<div class="footer-element">
			<a href="https://www.heylenvastgoed.be/">
				<img src="/res/sponsors/HeylenVastgoed.jpg" title="Heylen Vastgoed" class="sponsor pic"/>
			</a>
		</div>
		<div class="footer-element">
			<a href="https://www.goudengids.be/bedrijf/Vorselaar/L3175164/SCHYVENS+-GODIN/">
				<img src="/res/sponsors/ApotheekSchyvensGodin.png" title="Apotheek Schyvens-Godin" class="sponsor pic"/>
			</a>
		</div>
		<div class="footer-element">
			<span class="text">& </span>
		</div>
		<div class="footer-element">
			<img src="/res/sponsors/Anoniem.png" title="Enkele andere sponsors die liever anoniem blijven" class="sponsor pic"/>
		</div>
	</div>
	<div class="footer-group">
		<div class="footer-element">
			<span class="text">Vragen en info:</span> 
		</div>
		<div class="footer-element">
			<a href="mailto:theaterbankvooruit@gmail.com" title="theaterbankvooruit@gmail.com" class="button-email"><span class="fa fa fa-envelope-o" aria-hidden="true"></a>
		</div>
		<div class="footer-element">
			<a  class="button-facebook" target="blank" href="http://www.facebook.com/theaterbankvooruit" title="Theater Bank Vooruit op Facebook"><span class="fa fa-facebook-square" aria-hidden="true"></span></a>
		</div>
	</div>
</div>

<!-- Javascript files -->

<!-- Google Analystics
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-71762217-1', 'auto');
	ga('send', 'pageview');
</script> -->

</body>
</html>