
	</div>

<!-- Footer -->
<div id="footer">
	<div class="footer-group"></div>
	<div class="footer-group"></div>
	<div class="footer-group">
		<div class="footer-element">
			<span class="text">Vragen en info:</span> 
		</div>
		<div class="footer-element">
			<a target="_blank" href="mailto:theaterbankvooruit@gmail.com" title="theaterbankvooruit@gmail.com"><span class="fa fa fa-envelope-o" aria-hidden="true"></a>
		</div>
		<div class="footer-element">
			<a target="_blank" href="http://www.facebook.com/theaterbankvooruit" title="Theater Bank Vooruit op Facebook"><span class="fa fa-facebook-square" aria-hidden="true"></span></a>
		</div>
	</div>
</div>

<!-- Javascript files -->

<!-- Google Analystics
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-71762217-1', 'auto');
	ga('send', 'pageview');
</script> -->

</body>
</html>