<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<meta charset="utf-8">

<head>
	<!-- basic info -->
	<title>Bank Vooruit speelt ACHT</title>
	<link rel="shortcut icon" type="image/ico" href="{{ site.incl-path }}/favicon.ico?v=2">
	
	<!-- Do not delete this! -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Metadata used for sharing this page -->
	<meta property="og:site_name" content="Bank Vooruit" />
	<meta property="og:url" content=" {{site.baseurl}}{{ page.url }}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.excerpt }}" />
	<meta property="og:image" content=" {{site.baseurl}}{{ page.postimage }}" />
	
	<!-- CSS files -->
	<link rel="stylesheet" type="text/css" href="{{ site.incl-path }}/stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" media="screen and (max-width: 700px)" href="{{ site.incl-path }}/stylesheets/app-narrow.css" />
	<link rel="stylesheet" type="text/css" media="screen and (min-width: 701px)" href="{{ site.incl-path }}/stylesheets/app-wide.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.incl-path }}/font-awesome/css/font-awesome.min.css">
</head>
		
<body>
	<!-- Menu -->
	<nav id="top-navigation">
		<input type="checkbox" id="menuToggle" class="menu-toggle"/>
		<label class="top-navigation-element menu-button menu-toggle" for="menuToggle"><span><i class="fa menu-icon fa-bars" aria-hidden="true"></i>Menu</span></label>
		<div id="top-main-navigation">
			<div class="top-navigation-group menu-content side-items">
				<a class="top-navigation-element menu-button" href="/"><span class="fa fa-home" aria-hidden="true"></a>
			</div>
			<div class="top-navigation-group menu-content">
				<a class="top-navigation-element menu-button" href="/acht">ACHT</a>
				<a class="top-navigation-element menu-button" href="/tickets_info/">Tickets en info</a>
				<a class="top-navigation-element menu-button" href="/goede_doelen/">Goede doelen</a>
				<a class="top-navigation-element menu-button" href="/bankvooruit">Bank Vooruit</a>
			</div>
			<div class="top-navigation-group menu-content side-items">
				<a target="_blank" href="mailto:theaterbankvooruit@gmail.com" title="theaterbankvooruit@gmail.com" class="top-navigation-element menu-button"><span class="fa fa fa-envelope-o" aria-hidden="true"></a>
				<a class="top-navigation-element menu-button" target="_blank" href="http://www.facebook.com/theaterbankvooruit" title="Theater Bank Vooruit op Facebook"><span class="fa fa-facebook-square" aria-hidden="true"></span></a>
				<a class="top-navigation-element menu-button" href="https://dewarmsteweek.stubru.be/" target="_blank" title="De Warmste Week">
					<img src="/res/WarmsteWeek.png" class="header-icon"/>
				</a>
			</div>
		</div>
	</nav

	<!-- content -->
	<div id="content-wrapper">