<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<meta charset="utf-8">

<head>
	<!-- Google Analytics, Global Site Tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106738511-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments)};
	  gtag('js', new Date());

	  gtag('config', 'UA-106738511-1');
	</script>

	<!-- basic info -->
	<title> Bank Vooruit speelt De Code Van De Kaart</title>
	<link rel="shortcut icon" type="image/ico" href="{{ site.incl-path }}/favicon.ico?v=2">

	<!-- Do not delete this! -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Metadata used for sharing this page -->
	<meta property="og:site_name" content="Bank Vooruit" />
	<meta property="og:url" content=" {{site.baseurl}}{{ page.url }}" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.excerpt }}" />
	<meta property="og:image" content=" {{site.baseurl}}{{ page.postimage }}" />

	<!-- CSS files -->
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="{{ site.incl-path }}/font-awesome/css/font-awesome.min.css">
</head>

<body>
	<!-- Menu -->
	<nav id="top-navigation">
		<input type="checkbox" id="menuToggle" class="menu-toggle"/>
		<label class="top-navigation-element menu-button menu-toggle" for="menuToggle"><span><i class="fa menu-icon fa-bars" aria-hidden="true"></i>Menu</span></label>
		<div id="top-main-navigation">
			<div class="top-navigation-group menu-content side-items">
				<a class="top-navigation-element menu-button" href="/"><span class="fa fa-home" aria-hidden="true"></a>
			</div>
			<div class="top-navigation-group menu-content">
				<a class="top-navigation-element menu-button" href="/code_van_de_kaart">De Code Van de Kaart</a>
				<a class="top-navigation-element menu-button" href="/goede_doelen">Goede Doelen</a>
				<a class="top-navigation-element menu-button" href="/bankvooruit">Bank Vooruit</a>
				<a class="top-navigation-element menu-button" href="/acht">Acht</a>
				<a class="top-navigation-element menu-button" href="/quiz">Quiz</a>
			</div>
			<div class="top-navigation-group menu-content side-items">
				<a target="_blank" href="mailto:theaterbankvooruit@gmail.com" title="theaterbankvooruit@gmail.com" class="top-navigation-element menu-button"><span class="fa fa fa-envelope-o" aria-hidden="true"></a>
				<a class="facebook-hover-button top-navigation-element menu-button" target="_blank" href="http://www.facebook.com/theaterbankvooruit" title="Theater Bank Vooruit op Facebook"><span class="fa fa-facebook-square" aria-hidden="true"></span></a>
				<a class="top-navigation-element menu-button facebook-page-plugin" target="_blank" href="http://www.facebook.com/theaterbankvooruit" title="Theater Bank Vooruit op Facebook">
					<iframe class="" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftheaterbankvooruit%2F&tabs=timeline%2C%20events%2C%20messages&width=400&height=70&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="350" height="70" style="border:none" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				</a>
				<a class="top-navigation-element menu-button" href="https://dewarmsteweek.stubru.be/" target="_blank" title="De Warmste Week">
					<img src="/res/warmsteweek.jpg" class="header-icon"/>
				</a>
				<a class="top-navigation-element menu-button" href="https://uitmetvlieg.be/" target="_blank" title="Uit met vlieg">
					<img src="/res/vlieg.jpg" class="header-icon"/>
				</a>
				<a class="top-navigation-element menu-button" href="https://opendoek.be/" target="_blank" title="Opendoek">
					<img src="/res/opendoek.jpg" class="header-icon"/>
				</a>
			</div>
		</div>
	</nav

	<!-- content -->
	<div id="content-wrapper">
