<!-- Menu -->
<nav id="top-navigation">
  <input type="checkbox" id="menuToggle" class="menu-toggle" />
  <label class="top-navigation-element menu-button menu-toggle" for="menuToggle"
    ><span
      ><i class="fa menu-icon fa-bars" aria-hidden="true"></i>Menu</span
    ></label
  >
  <div id="top-main-navigation">
    <!-- Left -->
    <nav aria-label="Naar home">
      <ul class="top-navigation-group menu-content side-items">
        <li class="top-navigation-element menu-button logo">
          <a href="/" title="Theater Bank Vooruit">
            <img src="/res/theaterbankvooruit.png" class="header-icon logo" />
          </a>
        </li>
      </ul>
    </nav>

    <!-- Center -->
    <nav aria-label="Hoofdmenu">
      <ul class="top-navigation-group menu-content">
        <li class="top-navigation-element menu-button">
          <a href="/bankvooruit">Theater Bank Vooruit</a>
        </li>
        <li class="top-navigation-element menu-button">
          <a href="/lopende_voorstelling">Goudje en de heldere maan</a>
        </li>
        <li class="top-navigation-element menu-button">
          <a href="/sponsoring">Sponsoring</a>
        </li>
        <!-- <li class="top-navigation-element menu-button">
          <a href="/2022quiz">Quiz</a>
        </li> -->
        <li class="top-navigation-element menu-button dropdown">
          <button
            type="button"
            class="dropdown__title"
            aria-controls="om-nooit-te-vergeten-dropdown"
          >
            Om nooit te vergeten..
          </button>
          <ul class="top-navigation-dropdown" id="om-nooit-te-vergetendropdown">
            <li class="top-navigation-element menu-button">
              <a href="/2019code_van_de_kaart">De Code Van de Kaart (2019)</a>
            </li>
            <li class="top-navigation-element menu-button">
              <a href="/2018quiz">Quiz (2018)</a>
            </li>
            <li class="top-navigation-element menu-button">
              <a href="/2017acht">Acht (2017)</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <!-- Right -->
    <nav aria-label="Links">
      <ul class="top-navigation-group menu-content side-items">
        <li class="top-navigation-element menu-button">
          <a
            target="_blank"
            href="mailto:theaterbankvooruit@gmail.com"
            title="theaterbankvooruit@gmail.com"
          >
            <span class="fa fa fa-envelope-o" aria-hidden="true"></span>
          </a>
        </li>
        <li class="top-navigation-element menu-button">
          <a
            class="facebook-hover-button"
            target="_blank"
            href="http://www.facebook.com/theaterbankvooruit"
            title="Theater Bank Vooruit op Facebook"
          >
            <span class="fa fa-facebook-square" aria-hidden="true"></span>
          </a>
        </li>
        <li class="top-navigation-element menu-button">
          <a
            href="https://uitmetvlieg.be/"
            target="_blank"
            title="Uit met vlieg"
          >
            <img src="/res/vlieg.png" class="header-icon" />
          </a>
        </li>
        <li class="top-navigation-element menu-button">
          <a href="https://opendoek.be/" target="_blank" title="Opendoek">
            <img src="/res/opendoek.png" class="header-icon" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</nav>
