#top-navigation {
  margin-bottom: 3em;
  box-shadow: 0px 5px 10px $color-shadow;
  z-index: 100;
}

#top-main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  padding: 0;
  background-color: $color-header;
}

ul.top-navigation-group {
  padding-left: 0;
  margin: 0;
}
.top-navigation-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  li {
    list-style: none;
  }
}

.top-navigation-element.dropdown {
  position: relative;
  &:hover .dropdown__title {
    background-color: $color-action-hover;
  }

  .dropdown__title {
    display: inline-flex;
    align-items: center;
    background-color: $color-header;
    border: none;

    &:after {
      content: "";
      border: 0.35rem solid transparent;
      border-top-color: rgba(blue, 0.45);
      margin-left: 0.25em;
      transform: translateY(0.15em);
    }
  }

  .top-navigation-dropdown {
    //box-shadow: 0 0.15em 0.25em r$color-shadow;
    box-shadow: 0px 5px 10px $color-shadow;
    background-color: $color-header;
    padding-left: 0;

    width: 100%;
    li {
      padding: 1em;

      .menu-button {
        width: 100%;
      }
    }

    // placement of dropdown menu
    position: absolute;
    // Pull up to overlap the parent list item very slightly
    top: calc(100% - 0.25rem);
    // Use the left from absolute position to shift the left side
    left: 50%;
    // Use translateX to shift the menu 50% of it's width back to the left
    transform: translateX(-50%);

    // hide the dropdown menu
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    opacity: 0.3;
    visibility: hidden;
    transition: 280ms all 60ms ease-out;
  }
  // display the dropdown menu
  &:hover,
  &:focus-within {
    .top-navigation-dropdown {
      opacity: 1;
      transform: rotateX(0) translateX(-50%);
      visibility: visible;
    }
  }
}

.menu-button {
  padding: 1em;
  background-color: initial;
  border: none;

  a {
    color: $black;
  }
}

.menu-button.facebook-page-plugin {
  padding: 0;
  height: 70px;
}

.menu-button:hover {
  cursor: pointer;
  background-color: $color-action-hover;
  text-decoration: none;
}

.header-icon {
  height: 30px;
  margin: -10px 0;
}

/* opening and closing the menu */
.menu-toggle {
  display: none;
}

.action-button {
  padding: 1em;
  background-color: $color-action;
  color: $white;
}

// specifically for a wide screen
@media (min-width: $break-small) {
  .facebook-page-plugin {
    transform-origin: 0% 0%;
    transform: scale(1, 0);
    height: 0;

    position: absolute;
    right: 0px;
    top: 50px;

    -webkit-transition: transform ease 250ms, height ease 250ms;
    -webkit-transition: transform ease 250ms, height ease 250ms;
    -moz-transition: transform ease 250ms, height ease 250ms;
    -o-transition: transform ease 250ms, height ease 250ms;
    transition: transform ease 250ms, height ease 250ms;
  }

  .facebook-hover-button:hover ~ .facebook-page-plugin {
    transform: scale(1, 1);
    height: auto;

    -webkit-transition: transform ease 250ms, height ease 250ms;
    -webkit-transition: transform ease 250ms, height ease 250ms;
    -moz-transition: transform ease 250ms, height ease 250ms;
    -o-transition: transform ease 250ms, height ease 250ms;
    transition: transform ease 250ms, height ease 250ms;
  }

  .facebook-page-plugin:hover {
    transform: scale(1, 1);
    height: auto;

    -webkit-transition: transform ease 250ms, height ease 250ms;
    -webkit-transition: transform ease 250ms, height ease 250ms;
    -moz-transition: transform ease 250ms, height ease 250ms;
    -o-transition: transform ease 250ms, height ease 250ms;
    transition: transform ease 250ms, height ease 250ms;
  }
}

// specifically for a narrow screen
@media (max-width: $break-small) {
  nav {
    width: 100%;
  }

  #top-main-navigation {
    flex-direction: column;
  }

  .top-navigation-group {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .top-navigation-element {
    text-align: right;
    width: 100%;
  }

  .top-navigation-element:hover {
    cursor: pointer;
    background-color: $color-action-hover;
    text-decoration: none;
  }

  .top-navigation-element.dropdown {
    .top-navigation-dropdown {
      width: fit-content;

      .menu-button {
        width: fit-content;
      }
      left: 65%;
    }
  }

  .menu-icon {
    margin-right: 0.5em;
  }

  /* opening and closing the menu */
  #menuToggle {
    display: none;
    width: 0;
  }

  .menu-toggle {
    width: auto;
  }

  #menuToggle + label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    background-color: $color-header;
  }

  #menuToggle:checked + label {
    background-color: $color-action-hover;
  }

  #top-main-navigation {
    transform-origin: 0% 0%;
    transform: scale(1, 0);
    height: 0;

    -webkit-transition: transform ease 250ms, height ease 250ms;
    -webkit-transition: transform ease 250ms, height ease 250ms;
    -moz-transition: transform ease 250ms, height ease 250ms;
    -o-transition: transform ease 250ms, height ease 250ms;
    transition: transform ease 250ms, height ease 250ms;
  }

  #menuToggle:checked ~ #top-main-navigation {
    transform: scale(1, 1);
    height: auto;

    -webkit-transition: transform ease 250ms, height ease 250ms;
    -webkit-transition: transform ease 250ms, height ease 250ms;
    -moz-transition: transform ease 250ms, height ease 250ms;
    -o-transition: transform ease 250ms, height ease 250ms;
    transition: transform ease 250ms, height ease 250ms;
  }
}
