.tile {
	flex-direction: row;
	align-items: stretch;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0.5em;
}

.tile.is-vertical {
  flex-direction: column;
}

.tile.is-parent {
  margin: 0;
	padding: 0;
}

.tile.is-not-growing {
  flex-grow: 0;
}

.tile.is-not-shrinking {
  flex-shrink: 0;
}

.tile.is-not-stretching {
  justify-content: flex-start;
}

.tile.is-2 {
    max-width: 50%
}

.tile-content {
	background-color: $white;
	margin: 0 !important;
	padding: 1em;
	width: 100%;
}

.image-tile {
	margin: auto;
	text-align: center;
}

.image-tile > img{
	width: 100%;
}