// colors
$color-header: $gold !default;
$color-footer: $gold !default;
$color-action: $brown !default;
$color-dropdown: $orange !default;
$color-action-hover: $orange !default;
$color-background: $orange !default;

$color-shadow: rgba(0, 0, 0, 0.2) !default;

// break points
$break-small: 700px;