
/****************************** COLOR VALUES *******************************
    
    #feecc7     header and footer
	#fccf85		if dropdown menu is open, this is the color of the 'close menu button'
	#f6c18a		selected header item & background
	#c97200		hyperlinks
	
	#fbd382		yellowisch - not used
	#f1b378		brownisch - not used
    
 ***************************************************************************/

/* body */
html  {
	background: url(/res/background.jpg) no-repeat center center fixed, #f6c18a; 
	background-size: cover;
}

body {
	height: 100%;
	min-height: 100vh;
	margin: auto;
	font: 16px "Tunga", "Lucida Grande", Helvetica, Arial, sans-serif;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* titles */
h1 {
	margin-top: 0;
}

h2 {
	font-size: 18px;
	margin: 0;
}
 
/* hyperlinks */
a {
    text-decoration: none;
    color: #fbd382;
}
a:hover {
    text-decoration: underline;
}

/**********
 * Header *
 **********/
 
#top-navigation {
	margin-bottom: 3em;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	z-index: 100;
}

#top-main-navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	
	padding: 0;
	background-color: #feecc7;
}

.top-navigation-group {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
}

.top-navigation-element {
	text-align: right;
	padding: 0 1em;
	width: 100%;
}

.menu-button {
	padding: 1em;
	color: black;
}

.top-navigation-element:hover {
	cursor: pointer;
	background-color: #f6c18a;
	text-decoration: none;
}

.menu-icon {
	margin-right: 0.5em;
}

.header-icon {
	height: 30px;
	margin: -10px 0;
}


/* opening and closing the menu */
#menuToggle {
	display: none;
	width: 0;
}

.menu-toggle {
	width: auto;
}

#menuToggle + label {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	
	background-color: #feecc7;
}

#menuToggle:checked + label {
	background-color: #fccf85;
}

#top-main-navigation {
	transform-origin: 0% 0%;
	transform: scale(1,0);
	height: 0;
	
	-webkit-transition: transform ease 250ms, height ease 250ms;
	-webkit-transition: transform ease 250ms, height ease 250ms;
	-moz-transition: transform ease 250ms, height ease 250ms;
	-o-transition: transform ease 250ms, height ease 250ms;
	transition: transform ease 250ms, height ease 250ms;
}

#menuToggle:checked ~ #top-main-navigation {
	transform: scale(1, 1);
	height: auto;
	
	-webkit-transition: transform ease 250ms, height ease 250ms;
	-webkit-transition: transform ease 250ms, height ease 250ms;
	-moz-transition: transform ease 250ms, height ease 250ms;
	-o-transition: transform ease 250ms, height ease 250ms;
	transition: transform ease 250ms, height ease 250ms;
}

/*********
 * Tiles *
 *********/

.tile {
	flex-direction: row;
	align-items: stretch;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0.5em;
}

.tile.is-vertical {
    flex-direction: column;
}

.tile.is-parent {
    margin: 0;
	padding: 0;
}

.tile.is-not-growing {
    flex-grow: 0;
  }
  
.tile.is-not-shrinking {
    flex-shrink: 0;
  }

.tile-content {
	background-color: white;
	margin: 0 !important;
	padding: 1em;
	width: 100%;
}

.image-tile {
	margin: auto;
	text-align: center;
}

.image-tile > img {
	width: 100%;
}

/***********
 * Content *
 ***********/

#content-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding: 2em;
	
	display: flex;
	flex-direction: column
}

.home {
	text-align: center;
}

.home-pic {
	margin-bottom: 3em;
}

.home-pic > a > img{
	width: 100%;
}

.home-warmste-week > img {
	width: 100px;
	margin-bottom: 2em;
}

.home-cities {
	margin-bottom: 1em;
}

.home-cities > img {
	height: 50px;
}

.home-ngos {
}

.home-ngos > img {
	height: 50px;
}

.who-is-who {
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.who-is-who .pic {
	margin-right: 1em;
	position: relative;
}

.who-is-who .pic img {
	width: 100px;
}

.who-is-who .pic .close-up {
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: opacity 750ms ease;
	-webkit-transition: opacity 750ms ease;
	-moz-transition: opacity 750ms ease;
	-o-transition: opacity 750ms ease;
	transition: opacity 750ms ease;
}

.who-is-who:hover .pic .close-up {
	opacity: 0;
}
.practical-info {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.practical-info .city-pic > img {
	width: 150px;
	margin-bottom: 2em;
}

.practical-info .text-block {
	text-align: center;
}

.practical-info .ngo-pic > img {
	width: 150px;
	margin-top: 2em;
}

.ngo-info {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.ngo-info .ngo-pic > img {
	width: 200px;
	margin-bottom: 2em;
}

.text-block > p {
	white-space: pre-line;
}

.text-block > p:last-child {
	margin-bottom: 0;
}


/**********
 * Footer *
 **********/
 
#footer {
	box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
	z-index: 100;
	
	width: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	background-color: #feecc7;
	
	margin-top: 3em;
}

.footer-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
	
	flex-wrap: wrap;
	margin-bottom: 1em;
}

.footer-element {
	margin-right: 1em;
	color: black;
}
.footer-element:last-child {
	margin-right: 0;
}

.footer-element .pic {
	height: 40px;
}

/* opening and closing the menu */
.menu-toggle {
	display: none;
}


/*********
 * Icons *
 *********/

.fa {
	color: black;
	font-size: larger;
}

.fa-facebook-square {
	color: #3b5998;
}
