
/****************************** COLOR VALUES *******************************
    
    #FFCE8D     dark orange
	#EA8500		darker orange
	#c97200		darkest orange, hyperlinks
	#ffe4c0		light orange
    
    #FFFFFF     white
    
 ***************************************************************************/

/* body */
html  {
	background: url(/res/background.jpg) no-repeat center center fixed, #FFCE8D; 
	background-size: cover;
}

body {
	height: 100%;
	margin: auto;
	font: 14px "Tunga", "Lucida Grande", Helvetica, Arial, sans-serif;
}
 
/* hyperlinks */
a {
    text-decoration: none;
    color: #c97200;
}
a:hover {
    text-decoration: underline;
}

/**********
 * Header *
 **********/


#top-navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	
	background-color: white;
	margin-bottom: 3em;
	padding: 1em 0;
}

.top-navigation-group {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
}

.top-navigation-element {
	text-align: right;
	width: 100%;
	padding: 0 1em;
}

.menu-button {
	padding: 1em;
}


/***********
 * Content *
 ***********/

#content-wrapper {
	margin: auto;
	width: 50%;
	background-color: white;
	padding: 2em;
}